# Calculating and appending draftkings scores to every stat every game every player data frame

# DraftKings Scoring Structure¶

Point +1 Pt

Made 3pt Shot +0.5 Pts

Rebound +1.25 Pts

Assist +1.5 Pts

Steal +2 Pts

Block +2 Pts

Turnover -0.5 Pts

Double-Double {Max 1 Per Player: Points, Rebounds, Assists, Blocks, Steals} +1.5 Pts

Triple-Double {Max 1 Per Player: Points, Rebounds, Assists, Blocks, Steals} +3 Pts

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import array
import numpy as np

In [2]:
df=pd.read_csv("Every_Stat_Cleaned_DataFrame.csv")

In [3]:
empty_df4=df

In [4]:
empty_df4

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,PlayerCode
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,3.0,0.0,0.0,0.0,0.0,2.0,8.0,6.1,6.0,A/AchiuPr01
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,3.0,2.0,0.0,1.0,1.0,6.0,11.0,7.7,4.0,A/AchiuPr01
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,4.0,0.0,1.0,0.0,2.0,3.0,10.0,4.6,-15.0,A/AchiuPr01
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,5.0,0.0,0.0,1.0,3.0,2.0,0.0,-1.8,-2.0,A/AchiuPr01
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,6.0,1.0,0.0,0.0,1.0,0.0,10.0,9.9,-5.0,A/AchiuPr01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,W (+24),0.0,...,4.0,6.0,2.0,0.0,1.0,5.0,6.0,8.5,29.0,e/exumda01
22668,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,L (-9),0.0,...,1.0,2.0,1.0,1.0,1.0,0.0,0.0,-1.1,-5.0,e/exumda01
22669,4,5,4,2020-12-31,25-171,CLE,@,IND,L (-20),1.0,...,4.0,0.0,0.0,1.0,2.0,0.0,7.0,3.8,-9.0,e/exumda01
22670,5,6,5,2021-01-02,25-173,CLE,@,ATL,W (+5),1.0,...,5.0,1.0,1.0,0.0,2.0,3.0,6.0,2.0,3.0,e/exumda01
22671,6,7,6,2021-01-04,25-175,CLE,@,ORL,L (-20),1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,-4.0,e/exumda01

In [5]:
empty_df4["summation"]=(empty_df4['PTS']+empty_df4['3P']*0.5+empty_df4['TRB']*1.25+empty_df4['AST']*1.5+empty_df4['STL']*2 +empty_df4['BLK']*2-empty_df4['TOV']*0.5)

In [6]:
empty_df4

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,PlayerCode,summation
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0.0,0.0,0.0,0.0,2.0,8.0,6.1,6.0,A/AchiuPr01,11.75
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,2.0,0.0,1.0,1.0,6.0,11.0,7.7,4.0,A/AchiuPr01,19.25
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,0.0,1.0,0.0,2.0,3.0,10.0,4.6,-15.0,A/AchiuPr01,16.00
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0.0,0.0,1.0,3.0,2.0,0.0,-1.8,-2.0,A/AchiuPr01,6.75
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,1.0,0.0,0.0,1.0,0.0,10.0,9.9,-5.0,A/AchiuPr01,18.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,W (+24),0.0,...,6.0,2.0,0.0,1.0,5.0,6.0,8.5,29.0,e/exumda01,23.50
22668,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,L (-9),0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,-1.1,-5.0,e/exumda01,7.75
22669,4,5,4,2020-12-31,25-171,CLE,@,IND,L (-20),1.0,...,0.0,0.0,1.0,2.0,0.0,7.0,3.8,-9.0,e/exumda01,14.00
22670,5,6,5,2021-01-02,25-173,CLE,@,ATL,W (+5),1.0,...,1.0,1.0,0.0,2.0,3.0,6.0,2.0,3.0,e/exumda01,14.75
22671,6,7,6,2021-01-04,25-175,CLE,@,ORL,L (-20),1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,-4.0,e/exumda01,-0.50

In [7]:
empty_df4['DoubleDigitPoints'] = np.where(empty_df4['PTS']>=10, 1, 0)
empty_df4['DoubleDigitAssists'] = np.where(empty_df4['AST']>=10, 1, 0)
empty_df4['DoubleDigitRebounds'] = np.where(empty_df4['TRB']>=10, 1, 0)
empty_df4['DoubleDigitSteals'] = np.where(empty_df4['STL']>=10, 1, 0)
empty_df4['DoubleDigitBlocks'] = np.where(empty_df4['BLK']>=10, 1, 0)
empty_df4

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,PTS,GmSc,+/-,PlayerCode,summation,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,8.0,6.1,6.0,A/AchiuPr01,11.75,0,0,0,0,0
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,11.0,7.7,4.0,A/AchiuPr01,19.25,1,0,0,0,0
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,10.0,4.6,-15.0,A/AchiuPr01,16.00,1,0,0,0,0
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0.0,-1.8,-2.0,A/AchiuPr01,6.75,0,0,0,0,0
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,10.0,9.9,-5.0,A/AchiuPr01,18.50,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,W (+24),0.0,...,6.0,8.5,29.0,e/exumda01,23.50,0,0,0,0,0
22668,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,L (-9),0.0,...,0.0,-1.1,-5.0,e/exumda01,7.75,0,0,0,0,0
22669,4,5,4,2020-12-31,25-171,CLE,@,IND,L (-20),1.0,...,7.0,3.8,-9.0,e/exumda01,14.00,0,0,0,0,0
22670,5,6,5,2021-01-02,25-173,CLE,@,ATL,W (+5),1.0,...,6.0,2.0,3.0,e/exumda01,14.75,0,0,0,0,0
22671,6,7,6,2021-01-04,25-175,CLE,@,ORL,L (-20),1.0,...,0.0,-1.0,-4.0,e/exumda01,-0.50,0,0,0,0,0

In [8]:
empty_df4['DoubleDouble']=np.where(empty_df4['DoubleDigitPoints']+
                                 empty_df4['DoubleDigitAssists']+empty_df4['DoubleDigitRebounds']+
                                 empty_df4['DoubleDigitSteals']+empty_df4['DoubleDigitBlocks']>=2, True, False)

empty_df4['TripleDouble']=np.where(empty_df4['DoubleDigitPoints']+
                                 empty_df4['DoubleDigitAssists']+empty_df4['DoubleDigitRebounds']+
                                 empty_df4['DoubleDigitSteals']+empty_df4['DoubleDigitBlocks']>=3, True, False)

In [9]:
empty_df4

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,+/-,PlayerCode,summation,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,6.0,A/AchiuPr01,11.75,0,0,0,0,0,False,False
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,4.0,A/AchiuPr01,19.25,1,0,0,0,0,False,False
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,-15.0,A/AchiuPr01,16.00,1,0,0,0,0,False,False
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,-2.0,A/AchiuPr01,6.75,0,0,0,0,0,False,False
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,-5.0,A/AchiuPr01,18.50,1,0,0,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,W (+24),0.0,...,29.0,e/exumda01,23.50,0,0,0,0,0,False,False
22668,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,L (-9),0.0,...,-5.0,e/exumda01,7.75,0,0,0,0,0,False,False
22669,4,5,4,2020-12-31,25-171,CLE,@,IND,L (-20),1.0,...,-9.0,e/exumda01,14.00,0,0,0,0,0,False,False
22670,5,6,5,2021-01-02,25-173,CLE,@,ATL,W (+5),1.0,...,3.0,e/exumda01,14.75,0,0,0,0,0,False,False
22671,6,7,6,2021-01-04,25-175,CLE,@,ORL,L (-20),1.0,...,-4.0,e/exumda01,-0.50,0,0,0,0,0,False,False

In [10]:
empty_df4['DDPoints']=np.where(empty_df4['DoubleDouble']==True, 1.5, 0)
empty_df4['TDPoints']=np.where(empty_df4['TripleDouble']==True, 3, 0)
empty_df4["DraftKingTotals"]=empty_df4['summation']+empty_df4['DDPoints']+empty_df4['TDPoints']

In [11]:
empty_df4

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,0,False,False,0.0,0,11.75
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,1,0,0,0,0,False,False,0.0,0,19.25
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,1,0,0,0,0,False,False,0.0,0,16.00
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,0,False,False,0.0,0,6.75
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,1,0,0,0,0,False,False,0.0,0,18.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,W (+24),0.0,...,0,0,0,0,0,False,False,0.0,0,23.50
22668,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,L (-9),0.0,...,0,0,0,0,0,False,False,0.0,0,7.75
22669,4,5,4,2020-12-31,25-171,CLE,@,IND,L (-20),1.0,...,0,0,0,0,0,False,False,0.0,0,14.00
22670,5,6,5,2021-01-02,25-173,CLE,@,ATL,W (+5),1.0,...,0,0,0,0,0,False,False,0.0,0,14.75
22671,6,7,6,2021-01-04,25-175,CLE,@,ORL,L (-20),1.0,...,0,0,0,0,0,False,False,0.0,0,-0.50

In [12]:
Player_list=['A/AchiuPr01',
 'A/AdamsSt01',
 'A/AdebaBa01',
 'A/AldriLa01',
 'A/AlexaNi01',
 'A/AllenGr01',
 'A/AllenJa01',
 'A/AminuAl01',
 'A/AnderKy01',
 'A/AntetGi01',
 'A/AntetTh01',
 'A/AnthoCa01',
 'A/AnthoCo01',
 'A/AnunoOG01',
 'A/ArizaTr01',
 'A/AugusDj01',
 'A/AvdijDe01',
 'A/AytonDe01',
 'A/AzubuUd01',
 'B/BaconDw01',
 'B/BagleMa01',
 'B/BallLa01',
 'B/BallLo01',
 'B/BambaMo01',
 'B/BaneDe01',
 'B/BarneHa02',
 'B/BarreRJ01',
 'B/BartoWi01',
 'B/BatesKe01',
 'B/BatumNi01',
 'B/BazemKe01',
 'B/BazleDa01',
 'B/BealBr01',
 'B/BeaslMa01',
 'B/BembrDe01',
 'B/BertaDa01',
 'B/BeverPa01',
 'B/BeySa01',
 'B/BeyTy01',
 'B/BirchKh01',
 'B/BitadGo01',
 'B/BjeliNe01',
 'B/BledsEr01',
 'B/BogdaBo01',
 'B/BogdaBo02',
 'B/BolBo01',
 'B/BongaIs01',
 'B/BookeDe01',
 'B/BouchCh01',
 'B/BradlTo01',
 'B/BrantJa01',
 'B/BrazdIg01',
 'B/BridgMi01',
 'B/BridgMi02',
 'B/BrissOs01',
 'B/BrogdMa01',
 'B/BrookAr01',
 'B/BrookDi01',
 'B/BrownBr01',
 'B/BrownCh02',
 'B/BrownJa02',
 'B/BrownMo01',
 'B/BrownSt02',
 'B/BrownTr01',
 'B/BrunsJa01',
 'B/BryanEl01',
 'B/BryanTh01',
 'B/BulloRe01',
 'B/BurkeTr01',
 'B/BurksAl01',
 'B/ButleJi01',
 'C/CaldwKe01',
 'C/CampaFa01',
 'C/CancaVl01',
 'C/CapelCa01',
 'C/CareyVe01',
 'C/CarteJe01',
 'C/CarteWe01',
 'C/CarteMi01',
 'C/CarusAl01',
 'C/CauleWi01',
 'C/ChiozCh01',
 'C/ChrisMa01',
 'C/ClarkBr01',
 'C/ClarkJo01',
 'C/ClaxtNi01',
 'C/CoffeAm01',
 'C/ColliJo01',
 'C/ConleMi01',
 'C/ConnaPa01',
 'C/CookTy01',
 'C/CovinRo01',
 'C/CraigTo01',
 'C/CrowdJa01',
 'C/CulveJa01',
 'C/CurrySe01',
 'C/CurrySt01',
 'D/DavisAn02',
 'D/DavisTe02',
 'D/DeckGa01',
 'D/DedmoDe01',
 'D/DeRozDe01',
 'D/DiakiMa01',
 'D/DiallHa01',
 'D/DiengGo01',
 'D/DinwiSp01',
 'D/DiVinDo01',
 'D/DonciLu01',
 'D/DortLu01',
 'D/DotsoDe01',
 'D/DoumbSe01',
 'D/DoziePj01',
 'D/DragiGo01',
 'D/DrummAn01',
 'D/DunnKr01',
 'D/DuranKe01',
 'E/EdwarAn01',
 'E/EdwarCa01',
 'E/EllebCj01',
 'E/EllinWa01',
 'E/EmbiiJo01',
 'E/EubanDr01',
 'F/FallTa01',
 'F/FavorDe01',
 'F/FernaBr01',
 'F/FinneDo01',
 'F/FlynnMa01',
 'F/ForbeBr01',
 'F/ForreTr01',
 'F/FournEv01',
 'F/FoxDe01',
 'F/FultzMa01',
 'G/GabriWe01',
 'G/GaffoDa01',
 'G/GalliDa01',
 'G/GarlaDa01',
 'G/GayRu01',
 'G/GeorgPa01',
 'G/GibsoTa01',
 'G/GilesHa01',
 'G/GilgeSh01',
 'G/GillAn01',
 'G/GilleFr01',
 'G/GoberRu01',
 'G/GordoAa01',
 'G/GordoEr01',
 'G/GrahaDe01',
 'G/GrantJe01',
 'G/GreenDa02',
 'G/GreenDr01',
 'G/GreenJa01',
 'G/GreenJa02',
 'G/GreenJe02',
 'G/GreenJo02',
 'G/GriffBl01',
 'H/HachiRu01',
 'H/HalibTy01',
 'H/HamptRj01',
 'H/HardaTi02',
 'H/HardeJa01',
 'H/HarklMa01',
 'H/HarpeJa01',
 'H/HarreMo01',
 'H/HarriGa01',
 'H/HarriJo01',
 'H/HarriTo02',
 'H/HartJo01',
 'H/HarteIs01',
 'H/HasleUd01',
 'H/HayesJa02',
 'H/HayesKi01',
 'H/HaywaGo01',
 'H/HernaJu01',
 'H/HernaWi01',
 'H/HerroTy01',
 'H/HieldBu01',
 'H/HillGe01',
 'H/HillSo01',
 'H/HintoNa01',
 'H/HolidAa01',
 'H/HolidJr01',
 'H/HolidJu01',
 'H/HolmeRi01',
 'H/HoodRo01',
 'H/HorfoAl01',
 'H/HortoTa01',
 'H/HouseDa01',
 'H/HowarDw01',
 'H/HowarMa02',
 'H/HuertKe01',
 'H/HugheEl01',
 'H/HunteDe01',
 'H/HutchCh01',
 'I/IbakaSe01',
 'I/IguodAn01',
 'I/IngleJo01',
 'I/IngraBr01',
 'I/IrvinKy01',
 'I/IwundWe01',
 'J/JacksFr01',
 'J/JacksJo02',
 'J/JacksRe01',
 'J/JacksJa02',
 'J/JamesLe01',
 'J/JeromTy01',
 'J/JoeIs01',
 'J/JohnsAl02',
 'J/JohnsCa02',
 'J/JohnsJa01',
 'J/JohnsKe04',
 'J/JohnsSt04',
 'J/JokicNi01',
 'J/JonesDa03',
 'J/JonesTr01',
 'J/JonesTy01',
 'J/JonesDe02',
 'J/JordaDe01',
 'J/JosepCo01',
 'K/KabenMf01',
 'K/KaminFr01',
 'K/KanteEn01',
 'K/KennaLu01',
 'K/KingLo02',
 'K/KlebiMa01',
 'K/KnighNa01',
 'K/KnoxKe01',
 'K/KonchJo01',
 'K/KorkmFu01',
 'K/KorneLu01',
 'K/KuzmaKy01',
 'L/LambAn01',
 'L/LambJe01',
 'L/LangfRo01',
 'L/LaVinZa01',
 'L/LaymaJa01',
 'L/LeeDa03',
 'L/LeeSa01',
 'L/LenAl01',
 'L/LeonaKa01',
 'L/LeVerCa01',
 'L/LewisKi01',
 'L/LillaDa01',
 'L/LittlNa01',
 'L/LooneKe01',
 'L/LopezBr01',
 'L/LopezRo01',
 'L/Louzama01',
 'L/LoveKe01',
 'L/LowryKy01',
 'L/LuwawTi01',
 'L/LylesTr01',
 'M/MaledTh01',
 'M/MannTe01',
 'M/MarjaBo01',
 'M/MarkkLa01',
 'M/MarshNa01',
 'M/MartiCa02',
 'M/MartiCo01',
 'M/MartiKe03',
 'M/MartiKe04',
 'M/MaxeyTy01',
 'M/MaysSk01',
 'M/McColCj01',
 'M/McConTj01',
 'M/McDanJa01',
 'M/McDanJa01',
 'M/McDerDo01',
 'M/McGeeJa01',
 'M/McGruRo01',
 'M/McLauJo01',
 'M/McLemBe01',
 'M/MeltoDe01',
 'M/MerriSa01',
 'M/MetuCh01',
 'M/MiddlKh01',
 'M/MillsPa01',
 'M/MillsPa01',
 'M/MiltoSh01',
 'M/MitchDo01',
 'M/MonkMa01',
 "M/MooreEt01",
 'M/MoranJa01',
 'M/MorgaJu01',
 'M/MorriMa02',
 'M/MorriMa03',
 'M/MorriMo01',
 'M/MuldeMy01',
 'M/MurraDe01',
 'M/MurraJa01',
 'M/MuscaMi01',
 'M/MykhaSv01',
 'N/NaderAb01',
 'N/NanceLa02',
 'N/NesmiAa01',
 'N/NetoRa01',
 'N/NiangGe01',
 'N/NnajiZe01',
 'N/NoelNe01',
 'N/NowelJa01',
 'N/NunnKe01',
 'N/NurkiJu01',
 'N/NwabaDa01',
 'N/NworaJo01',
 'O/OjeleSe01',
 'O/OkekeCh01',
 'O/OkogiJo01',
 'O/OkongOn01',
 'O/OkoroIs01',
 'O/OkpalKZ01',
 'O/OladiVi01',
 'O/OlynyKe01',
 'o/onealro01',
 'O/OniMi01',
 'O/Osmande01',
 'O/OturuDa01',
 'O/OubreKe01',
 'P/ParkeJa01',
 'P/PaschEr01',
 'P/PattePa01',
 'P/PaulCh01',
 'P/PayneCa01',
 'P/PaytoEl01',
 'P/PaytoGa02',
 'P/PlumlMa01',
 'P/PoeltJa01',
 'P/PokusAl01',
 'P/PooleJo01',
 'P/PorteOt01',
 'P/PorteKe02',
 'P/PorteMi01',
 'P/PortiBo01',
 'P/PorziKr01',
 'P/PowelDw01',
 'P/PowelNo01',
 'P/PrincTa02',
 'P/PritcPa01',
 'Q/QuickIm01',
 'R/RamseJa01',
 'R/RandlJu01',
 'R/ReddiCa01',
 'R/ReedPa01',
 'R/ReidNa01',
 'R/RichaNi01',
 'R/RichaJo01',
 'R/RilleGr01',
 'R/RiverAu01',
 'R/RobinDu01',
 'R/RobinJu01',
 'R/RobinMi01',
 'R/RobyIs01',
 'R/RondoRa01',
 'R/RoseDe01',
 'R/RossTe01',
 'R/RozieTe01',
 'R/RubioRi01',
 'R/RusseDa01',
 'S/SabonDo01',
 'S/SamanLu01',
 'S/SaricDa01',
 'S/SatorTo01',
 'S/SchroDe01',
 'S/ScrubJa01',
 'S/SextoCo01',
 'S/ShameLa01',
 'S/SiakaPa01',
 'S/SimmoBe01',
 'S/SimonAn01',
 'S/SmartMa01',
 'S/SmithIs01',
 'S/SmithJa04',
 'S/SmithDe03',
 'S/SnellTo01',
 'S/SteveLa01',
 'S/StewaIs01',
 'S/StrusMa01',
 'S/SumneEd01',
 'T/TateJa01',
 'T/TatumJa01',
 'T/TemplGa01',
 'T/TerryTy01',
 'T/TheisDa01',
 'T/ThomaBr01',
 'T/ThomaKh01',
 'T/ThomaMa02',
 'T/ThompTr01',
 'T/ThybuMa01',
 'T/TilliKi02',
 'T/TillmXa01',
 'T/ToppiOb01',
 'T/ToscaJu01',
 'T/TownsKa01',
 'T/TrentGa02',
 'T/TuckePj01',
 'T/TurneMy01',
 'V/ValanJo01',
 'V/ValenDe01',
 'V/VandeJa01',
 'V/VanVlFr01',
 'V/VasseDe01',
 'V/VinceGa01',
 'V/VucevNi01',
 'W/WadeDe01',
 'W/WagneMo01',
 'W/WalkeKe02',
 'W/WalkeLo01',
 'W/WallJo01',
 'W/WarreTj01',
 'W/WashiPj01',
 'W/WatanYu01',
 'W/WaterTr01',
 'W/WatsoPa01',
 'W/WestbRu01',
 'W/WhiteCo01',
 'W/WhiteDe01',
 'W/WhiteHa01',
 'W/WiggiAn01',
 'W/WilliGr01',
 'W/WilliKe04',
 'W/WilliLo02',
 'W/WilliPa01',
 'W/WilliRo04',
 'W/WilliZi01',
 'W/WindlDy01',
 'W/WinslJu01',
 'W/WinstCa01',
 'W/WisemJa01',
 'W/WoodCh01',
 'W/WoodaRo01',
 'W/WrighDe01',
 'Y/YoungTh01',
 'Y/YoungTr01',
 'Z/ZelleCo01',
 'Z/ZubacIv01',
 'A/AchiuPr01', 
 'J/Jacksju01', 
 'O/Okafoja01',
 'W/Wilsodj01', 
 'j/jamesju01',
 'b/biyombi01', 
 'b/bradlav01', 
 'm/mannini01', 
 'p/perryre01', 
 'j/johnsty01', 
 's/sampsja02', 
 'm/mckinal01', 
 'm/mcderse01', 
 'g/gallola01',
 'g/guyky01', 
 'c/cacokde01',
 'c/couside01', 
 'm/mcdanja02', 
 'g/goodwbr01', 
 'm/mathega01', 
 'g/gasolma01', 
 'a/arcidry01', 
 'e/ennisja01', 
 'n/ntilila01', 
 'd/dotsoda01', 
 'r/robinje01', 
 'j/jonesma05', 
 'm/scottmi01', 
 'm/millspa02', 
 'w/wanambr01', 
 'c/clarkga01',
 'h/harrish01', 
 'r/robingl02', 
 'r/randlch01', 
 'r/redicjj01',
 'j/jeffrda01',
 'b/baynear01', 
 's/stanlca01', 
 't/teaguje01',
 'a/antetko01',
 'm/masonfr01',
 'c/cookqu01',
 'f/feliccr01',
 's/sirvyde01',
 'h/holliro01',
 'b/blevike01',
 'h/halljo01',
 'd/deckga01',
 'w/weathqu01',
 'm/matthwe02',
 't/thornsi01',
 'm/mellini01',
 'd/davised01',
 'j/jamesmi02',
 'd/dellama01',
 'h/hoardja01',
 'e/exumda01']

In this next step, I will be using the player codes above in the basketball-reference URL line and I will be scraping that players name into a list.  From there, i will create a player code and player name dictionary so that I can merge the players name onto the dataframe.  Currently, our player dataframe only has the player code tied to it but we want the player names on the dataframe.

In [13]:
Player_names= [] 
for code in Player_list:
    url = 'https://www.basketball-reference.com/players/'+code+'/gamelog/2021'
    soup = BeautifulSoup(urlopen(url))#

    title_scrape=(soup.title.get_text())
    goo = title_scrape.replace('2020-21 Game Log | Basketball-Reference.com','')
    Player_names.append(goo)

In [14]:
print(Player_names)

['Precious Achiuwa ', 'Steven Adams ', 'Bam Adebayo ', 'LaMarcus Aldridge ', 'Nickeil Alexander-Walker ', 'Grayson Allen ', 'Jarrett Allen ', 'Al-Farouq Aminu ', 'Kyle Anderson ', 'Giannis Antetokounmpo ', 'Thanasis Antetokounmpo ', 'Carmelo Anthony ', 'Cole Anthony ', 'OG Anunoby ', 'Trevor Ariza ', 'D.J. Augustin ', 'Deni Avdija ', 'Deandre Ayton ', 'Udoka Azubuike ', 'Dwayne Bacon ', 'Marvin Bagley III ', 'LaMelo Ball ', 'Lonzo Ball ', 'Mo Bamba ', 'Desmond Bane ', 'Harrison Barnes ', 'RJ Barrett ', 'Will Barton ', 'Keita Bates-Diop ', 'Nicolas Batum ', 'Kent Bazemore ', 'Darius Bazley ', 'Bradley Beal ', 'Malik Beasley ', "DeAndre' Bembry ", 'Dāvis Bertāns ', 'Patrick Beverley ', 'Saddiq Bey ', 'Tyler Bey ', 'Khem Birch ', 'Goga Bitadze ', 'Nemanja Bjelica ', 'Eric Bledsoe ', 'Bogdan Bogdanović ', 'Bojan Bogdanović ', 'Bol Bol ', 'Isaac Bonga ', 'Devin Booker ', 'Chris Boucher ', 'Tony Bradley ', 'Jarrell Brantley ', 'Ignas Brazdeikis ', 'Mikal Bridges ', 'Miles Bridges ', 'Oshae Brissett ', 'Malcolm Brogdon ', 'Armoni Brooks ', 'Dillon Brooks ', 'Bruce Brown ', 'Charlie Brown ', 'Jaylen Brown ', 'Moses Brown ', 'Sterling Brown ', 'Troy Brown Jr. ', 'Jalen Brunson ', 'Elijah Bryant ', 'Thomas Bryant ', 'Reggie Bullock ', 'Trey Burke ', 'Alec Burks ', 'Jimmy Butler ', 'Kentavious Caldwell-Pope ', 'Facundo Campazzo ', 'Vlatko Čančar ', 'Clint Capela ', 'Vernon Carey Jr. ', 'Jevon Carter ', 'Wendell Carter Jr. ', 'Michael Carter-Williams ', 'Alex Caruso ', 'Willie Cauley-Stein ', 'Chris Chiozza ', 'Marquese Chriss ', 'Brandon Clarke ', 'Jordan Clarkson ', 'Nicolas Claxton ', 'Amir Coffey ', 'John Collins ', 'Mike Conley ', 'Pat Connaughton ', 'Tyler Cook ', 'Robert Covington ', 'Torrey Craig ', 'Jae Crowder ', 'Jarrett Culver ', 'Seth Curry ', 'Stephen Curry ', 'Anthony Davis ', 'Terence Davis ', 'Gabriel Deck ', 'Dewayne Dedmon ', 'DeMar DeRozan ', 'Mamadi Diakite ', 'Hamidou Diallo ', 'Gorgui Dieng ', 'Spencer Dinwiddie ', 'Donte DiVincenzo ', 'Luka Dončić ', 'Luguentz Dort ', 'Devon Dotson ', 'Sekou Doumbouya ', 'PJ Dozier ', 'Goran Dragić ', 'Andre Drummond ', 'Kris Dunn ', 'Kevin Durant ', 'Anthony Edwards ', 'Carsen Edwards ', 'CJ Elleby ', 'Wayne Ellington ', 'Joel Embiid ', 'Drew Eubanks ', 'Tacko Fall ', 'Derrick Favors ', 'Bruno Fernando ', 'Dorian Finney-Smith ', 'Malachi Flynn ', 'Bryn Forbes ', 'Trent Forrest ', 'Evan Fournier ', "De'Aaron Fox ", 'Markelle Fultz ', 'Wenyen Gabriel ', 'Daniel Gafford ', 'Danilo Gallinari ', 'Darius Garland ', 'Rudy Gay ', 'Paul George ', 'Taj Gibson ', 'Harry Giles ', 'Shai Gilgeous-Alexander ', 'Anthony Gill ', 'Freddie Gillespie ', 'Rudy Gobert ', 'Aaron Gordon ', 'Eric Gordon ', "Devonte' Graham ", 'Jerami Grant ', 'Danny Green ', 'Draymond Green ', 'JaMychal Green ', 'Javonte Green ', 'Jeff Green ', 'Josh Green ', 'Blake Griffin ', 'Rui Hachimura ', 'Tyrese Haliburton ', 'R.J. Hampton ', 'Tim Hardaway Jr. ', 'James Harden ', 'Maurice Harkless ', 'Jared Harper ', 'Montrezl Harrell ', 'Gary Harris ', 'Joe Harris ', 'Tobias Harris ', 'Josh Hart ', 'Isaiah Hartenstein ', 'Udonis Haslem ', 'Jaxson Hayes ', 'Killian Hayes ', 'Gordon Hayward ', 'Juan Hernangómez ', 'Willy Hernangómez ', 'Tyler Herro ', 'Buddy Hield ', 'George Hill ', 'Solomon Hill ', 'Nate Hinton ', 'Aaron Holiday ', 'Jrue Holiday ', 'Justin Holiday ', 'Richaun Holmes ', 'Rodney Hood ', 'Al Horford ', 'Talen Horton-Tucker ', 'Danuel House ', 'Dwight Howard ', 'Markus Howard ', 'Kevin Huerter ', 'Elijah Hughes ', "De'Andre Hunter ", 'Chandler Hutchison ', 'Serge Ibaka ', 'Andre Iguodala ', 'Joe Ingles ', 'Brandon Ingram ', 'Kyrie Irving ', 'Wesley Iwundu ', 'Frank Jackson ', 'Josh Jackson ', 'Reggie Jackson ', 'Jaren Jackson Jr. ', 'LeBron James ', 'Ty Jerome ', 'Isaiah Joe ', 'Alize Johnson ', 'Cameron Johnson ', 'James Johnson ', 'Keldon Johnson ', 'Stanley Johnson ', 'Nikola Jokić ', 'Damian Jones ', 'Tre Jones ', 'Tyus Jones ', 'Derrick Jones Jr. ', 'DeAndre Jordan ', 'Cory Joseph ', 'Mfiondu Kabengele ', 'Frank Kaminsky ', 'Enes Kanter ', 'Luke Kennard ', 'Louis King ', 'Maxi Kleber ', 'Nathan Knight ', 'Kevin Knox ', 'John Konchar ', 'Furkan Korkmaz ', 'Luke Kornet ', 'Kyle Kuzma ', 'Anthony Lamb ', 'Jeremy Lamb ', 'Romeo Langford ', 'Zach LaVine ', 'Jake Layman ', 'Damion Lee ', 'Saben Lee ', 'Alex Len ', 'Kawhi Leonard ', 'Caris LeVert ', 'Kira Lewis Jr. ', 'Damian Lillard ', 'Nassir Little ', 'Kevon Looney ', 'Brook Lopez ', 'Robin Lopez ', 'Didi Louzada ', 'Kevin Love ', 'Kyle Lowry ', 'Timothé Luwawu-Cabarrot ', 'Trey Lyles ', 'Théo Maledon ', 'Terance Mann ', 'Boban Marjanović ', 'Lauri Markkanen ', 'Naji Marshall ', 'Caleb Martin ', 'Cody Martin ', 'Kelan Martin ', 'Kenyon Martin Jr. ', 'Tyrese Maxey ', 'Skylar Mays ', 'CJ McCollum ', 'T.J. McConnell ', 'Jalen McDaniels ', 'Jalen McDaniels ', 'Doug McDermott ', 'JaVale McGee ', 'Rodney McGruder ', 'Jordan McLaughlin ', 'Ben McLemore ', "De'Anthony Melton ", 'Sam Merrill ', 'Chimezie Metu ', 'Khris Middleton ', 'Paul Millsap ', 'Paul Millsap ', 'Shake Milton ', 'Donovan Mitchell ', 'Malik Monk ', "E'Twaun Moore ", 'Ja Morant ', 'Juwan Morgan ', 'Markieff Morris ', 'Marcus Morris ', 'Monte Morris ', 'Mychal Mulder ', 'Dejounte Murray ', 'Jamal Murray ', 'Mike Muscala ', 'Sviatoslav Mykhailiuk ', 'Abdel Nader ', 'Larry Nance Jr. ', 'Aaron Nesmith ', 'Raul Neto ', 'Georges Niang ', 'Zeke Nnaji ', 'Nerlens Noel ', 'Jaylen Nowell ', 'Kendrick Nunn ', 'Jusuf Nurkić ', 'David Nwaba ', 'Jordan Nwora ', 'Semi Ojeleye ', 'Chuma Okeke ', 'Josh Okogie ', 'Onyeka Okongwu ', 'Isaac Okoro ', 'KZ Okpala ', 'Victor Oladipo ', 'Kelly Olynyk ', "Royce O'Neale ", 'Miye Oni ', 'Cedi Osman ', 'Daniel Oturu ', 'Kelly Oubre Jr. ', 'Jabari Parker ', 'Eric Paschall ', 'Patrick Patterson ', 'Chris Paul ', 'Cameron Payne ', 'Elfrid Payton ', 'Gary Payton II ', 'Mason Plumlee ', 'Jakob Poeltl ', 'Aleksej Pokusevski ', 'Jordan Poole ', 'Otto Porter ', 'Kevin Porter Jr. ', 'Michael Porter Jr. ', 'Bobby Portis ', 'Kristaps Porziņģis ', 'Dwight Powell ', 'Norman Powell ', 'Taurean Prince ', 'Payton Pritchard ', 'Immanuel Quickley ', "Jahmi'us Ramsey ", 'Julius Randle ', 'Cam Reddish ', 'Paul Reed ', 'Naz Reid ', 'Nick Richards ', 'Josh Richardson ', 'Grant Riller ', 'Austin Rivers ', 'Duncan Robinson ', 'Justin Robinson ', 'Mitchell Robinson ', 'Isaiah Roby ', 'Rajon Rondo ', 'Derrick Rose ', 'Terrence Ross ', 'Terry Rozier ', 'Ricky Rubio ', "D'Angelo Russell ", 'Domantas Sabonis ', 'Luka Šamanić ', 'Dario Šarić ', 'Tomáš Satoranský ', 'Dennis Schröder ', 'Jay Scrubb ', 'Collin Sexton ', 'Landry Shamet ', 'Pascal Siakam ', 'Ben Simmons ', 'Anfernee Simons ', 'Marcus Smart ', 'Ish Smith ', 'Jalen Smith ', 'Dennis Smith Jr. ', 'Tony Snell ', 'Lamar Stevens ', 'Isaiah Stewart ', 'Max Strus ', 'Edmond Sumner ', "Jae'Sean Tate ", 'Jayson Tatum ', 'Garrett Temple ', 'Tyrell Terry ', 'Daniel Theis ', 'Brodric Thomas ', 'Khyri Thomas ', 'Matt Thomas ', 'Tristan Thompson ', 'Matisse Thybulle ', 'Killian Tillie ', 'Xavier Tillman Sr. ', 'Obi Toppin ', 'Juan Toscano-Anderson ', 'Karl-Anthony Towns ', 'Gary Trent Jr. ', 'P.J. Tucker ', 'Myles Turner ', 'Jonas Valančiūnas ', 'Denzel Valentine ', 'Jarred Vanderbilt ', 'Fred VanVleet ', 'Devin Vassell ', 'Gabe Vincent ', 'Nikola Vučević ', 'Dean Wade ', 'Moritz Wagner ', 'Kemba Walker ', 'Lonnie Walker ', 'John Wall ', 'T.J. Warren ', 'P.J. Washington ', 'Yuta Watanabe ', 'Tremont Waters ', 'Paul Watson ', 'Russell Westbrook ', 'Coby White ', 'Derrick White ', 'Hassan Whiteside ', 'Andrew Wiggins ', 'Grant Williams ', 'Kenrich Williams ', 'Lou Williams ', 'Patrick Williams ', 'Robert Williams ', 'Zion Williamson ', 'Dylan Windler ', 'Justise Winslow ', 'Cassius Winston ', 'James Wiseman ', 'Christian Wood ', 'Robert Woodard ', 'Delon Wright ', 'Thaddeus Young ', 'Trae Young ', 'Cody Zeller ', 'Ivica Zubac ', 'Precious Achiuwa ', 'Justin Jackson ', 'Jahlil Okafor ', 'D.J. Wilson ', 'Justin James ', 'Bismack Biyombo ', 'Avery Bradley ', 'Nico Mannion ', 'Reggie Perry ', 'Tyler Johnson ', 'JaKarr Sampson ', 'Alfonzo McKinnie ', 'Sean McDermott ', 'Langston Galloway ', 'Kyle Guy ', 'Devontae Cacok ', 'DeMarcus Cousins ', 'Jaden McDaniels ', 'Brandon Goodwin ', 'Garrison Mathews ', 'Marc Gasol ', 'Ryan Arcidiacono ', 'James Ennis ', 'Frank Ntilikina ', 'Damyean Dotson ', 'Jerome Robinson ', 'Mason Jones ', 'Mike Scott ', 'Patty Mills ', 'Brad Wanamaker ', 'Gary Clark ', 'Shaquille Harrison ', 'Glenn Robinson III ', 'Chasson Randle ', 'J.J. Redick ', 'DaQuan Jeffries ', 'Aron Baynes ', 'Cassius Stanley ', 'Jeff Teague ', 'Kostas Antetokounmpo ', 'Frank Mason III ', 'Quinn Cook ', 'Cristiano Felício ', 'Deividas Sirvydis ', 'Rondae Hollis-Jefferson ', 'Keljin Blevins ', 'Josh Hall ', 'Gabriel Deck ', 'Quinndary Weatherspoon ', 'Wesley Matthews ', 'Sindarius Thornwell ', 'Nicolò Melli ', 'Ed Davis ', 'Mike James ', 'Matthew Dellavedova ', 'Jaylen Hoard ', 'Dante Exum ']

In [15]:
dictionary = dict(zip(Player_list, Player_names))
print(dictionary)

{'A/AchiuPr01': 'Precious Achiuwa ', 'A/AdamsSt01': 'Steven Adams ', 'A/AdebaBa01': 'Bam Adebayo ', 'A/AldriLa01': 'LaMarcus Aldridge ', 'A/AlexaNi01': 'Nickeil Alexander-Walker ', 'A/AllenGr01': 'Grayson Allen ', 'A/AllenJa01': 'Jarrett Allen ', 'A/AminuAl01': 'Al-Farouq Aminu ', 'A/AnderKy01': 'Kyle Anderson ', 'A/AntetGi01': 'Giannis Antetokounmpo ', 'A/AntetTh01': 'Thanasis Antetokounmpo ', 'A/AnthoCa01': 'Carmelo Anthony ', 'A/AnthoCo01': 'Cole Anthony ', 'A/AnunoOG01': 'OG Anunoby ', 'A/ArizaTr01': 'Trevor Ariza ', 'A/AugusDj01': 'D.J. Augustin ', 'A/AvdijDe01': 'Deni Avdija ', 'A/AytonDe01': 'Deandre Ayton ', 'A/AzubuUd01': 'Udoka Azubuike ', 'B/BaconDw01': 'Dwayne Bacon ', 'B/BagleMa01': 'Marvin Bagley III ', 'B/BallLa01': 'LaMelo Ball ', 'B/BallLo01': 'Lonzo Ball ', 'B/BambaMo01': 'Mo Bamba ', 'B/BaneDe01': 'Desmond Bane ', 'B/BarneHa02': 'Harrison Barnes ', 'B/BarreRJ01': 'RJ Barrett ', 'B/BartoWi01': 'Will Barton ', 'B/BatesKe01': 'Keita Bates-Diop ', 'B/BatumNi01': 'Nicolas Batum ', 'B/BazemKe01': 'Kent Bazemore ', 'B/BazleDa01': 'Darius Bazley ', 'B/BealBr01': 'Bradley Beal ', 'B/BeaslMa01': 'Malik Beasley ', 'B/BembrDe01': "DeAndre' Bembry ", 'B/BertaDa01': 'Dāvis Bertāns ', 'B/BeverPa01': 'Patrick Beverley ', 'B/BeySa01': 'Saddiq Bey ', 'B/BeyTy01': 'Tyler Bey ', 'B/BirchKh01': 'Khem Birch ', 'B/BitadGo01': 'Goga Bitadze ', 'B/BjeliNe01': 'Nemanja Bjelica ', 'B/BledsEr01': 'Eric Bledsoe ', 'B/BogdaBo01': 'Bogdan Bogdanović ', 'B/BogdaBo02': 'Bojan Bogdanović ', 'B/BolBo01': 'Bol Bol ', 'B/BongaIs01': 'Isaac Bonga ', 'B/BookeDe01': 'Devin Booker ', 'B/BouchCh01': 'Chris Boucher ', 'B/BradlTo01': 'Tony Bradley ', 'B/BrantJa01': 'Jarrell Brantley ', 'B/BrazdIg01': 'Ignas Brazdeikis ', 'B/BridgMi01': 'Mikal Bridges ', 'B/BridgMi02': 'Miles Bridges ', 'B/BrissOs01': 'Oshae Brissett ', 'B/BrogdMa01': 'Malcolm Brogdon ', 'B/BrookAr01': 'Armoni Brooks ', 'B/BrookDi01': 'Dillon Brooks ', 'B/BrownBr01': 'Bruce Brown ', 'B/BrownCh02': 'Charlie Brown ', 'B/BrownJa02': 'Jaylen Brown ', 'B/BrownMo01': 'Moses Brown ', 'B/BrownSt02': 'Sterling Brown ', 'B/BrownTr01': 'Troy Brown Jr. ', 'B/BrunsJa01': 'Jalen Brunson ', 'B/BryanEl01': 'Elijah Bryant ', 'B/BryanTh01': 'Thomas Bryant ', 'B/BulloRe01': 'Reggie Bullock ', 'B/BurkeTr01': 'Trey Burke ', 'B/BurksAl01': 'Alec Burks ', 'B/ButleJi01': 'Jimmy Butler ', 'C/CaldwKe01': 'Kentavious Caldwell-Pope ', 'C/CampaFa01': 'Facundo Campazzo ', 'C/CancaVl01': 'Vlatko Čančar ', 'C/CapelCa01': 'Clint Capela ', 'C/CareyVe01': 'Vernon Carey Jr. ', 'C/CarteJe01': 'Jevon Carter ', 'C/CarteWe01': 'Wendell Carter Jr. ', 'C/CarteMi01': 'Michael Carter-Williams ', 'C/CarusAl01': 'Alex Caruso ', 'C/CauleWi01': 'Willie Cauley-Stein ', 'C/ChiozCh01': 'Chris Chiozza ', 'C/ChrisMa01': 'Marquese Chriss ', 'C/ClarkBr01': 'Brandon Clarke ', 'C/ClarkJo01': 'Jordan Clarkson ', 'C/ClaxtNi01': 'Nicolas Claxton ', 'C/CoffeAm01': 'Amir Coffey ', 'C/ColliJo01': 'John Collins ', 'C/ConleMi01': 'Mike Conley ', 'C/ConnaPa01': 'Pat Connaughton ', 'C/CookTy01': 'Tyler Cook ', 'C/CovinRo01': 'Robert Covington ', 'C/CraigTo01': 'Torrey Craig ', 'C/CrowdJa01': 'Jae Crowder ', 'C/CulveJa01': 'Jarrett Culver ', 'C/CurrySe01': 'Seth Curry ', 'C/CurrySt01': 'Stephen Curry ', 'D/DavisAn02': 'Anthony Davis ', 'D/DavisTe02': 'Terence Davis ', 'D/DeckGa01': 'Gabriel Deck ', 'D/DedmoDe01': 'Dewayne Dedmon ', 'D/DeRozDe01': 'DeMar DeRozan ', 'D/DiakiMa01': 'Mamadi Diakite ', 'D/DiallHa01': 'Hamidou Diallo ', 'D/DiengGo01': 'Gorgui Dieng ', 'D/DinwiSp01': 'Spencer Dinwiddie ', 'D/DiVinDo01': 'Donte DiVincenzo ', 'D/DonciLu01': 'Luka Dončić ', 'D/DortLu01': 'Luguentz Dort ', 'D/DotsoDe01': 'Devon Dotson ', 'D/DoumbSe01': 'Sekou Doumbouya ', 'D/DoziePj01': 'PJ Dozier ', 'D/DragiGo01': 'Goran Dragić ', 'D/DrummAn01': 'Andre Drummond ', 'D/DunnKr01': 'Kris Dunn ', 'D/DuranKe01': 'Kevin Durant ', 'E/EdwarAn01': 'Anthony Edwards ', 'E/EdwarCa01': 'Carsen Edwards ', 'E/EllebCj01': 'CJ Elleby ', 'E/EllinWa01': 'Wayne Ellington ', 'E/EmbiiJo01': 'Joel Embiid ', 'E/EubanDr01': 'Drew Eubanks ', 'F/FallTa01': 'Tacko Fall ', 'F/FavorDe01': 'Derrick Favors ', 'F/FernaBr01': 'Bruno Fernando ', 'F/FinneDo01': 'Dorian Finney-Smith ', 'F/FlynnMa01': 'Malachi Flynn ', 'F/ForbeBr01': 'Bryn Forbes ', 'F/ForreTr01': 'Trent Forrest ', 'F/FournEv01': 'Evan Fournier ', 'F/FoxDe01': "De'Aaron Fox ", 'F/FultzMa01': 'Markelle Fultz ', 'G/GabriWe01': 'Wenyen Gabriel ', 'G/GaffoDa01': 'Daniel Gafford ', 'G/GalliDa01': 'Danilo Gallinari ', 'G/GarlaDa01': 'Darius Garland ', 'G/GayRu01': 'Rudy Gay ', 'G/GeorgPa01': 'Paul George ', 'G/GibsoTa01': 'Taj Gibson ', 'G/GilesHa01': 'Harry Giles ', 'G/GilgeSh01': 'Shai Gilgeous-Alexander ', 'G/GillAn01': 'Anthony Gill ', 'G/GilleFr01': 'Freddie Gillespie ', 'G/GoberRu01': 'Rudy Gobert ', 'G/GordoAa01': 'Aaron Gordon ', 'G/GordoEr01': 'Eric Gordon ', 'G/GrahaDe01': "Devonte' Graham ", 'G/GrantJe01': 'Jerami Grant ', 'G/GreenDa02': 'Danny Green ', 'G/GreenDr01': 'Draymond Green ', 'G/GreenJa01': 'JaMychal Green ', 'G/GreenJa02': 'Javonte Green ', 'G/GreenJe02': 'Jeff Green ', 'G/GreenJo02': 'Josh Green ', 'G/GriffBl01': 'Blake Griffin ', 'H/HachiRu01': 'Rui Hachimura ', 'H/HalibTy01': 'Tyrese Haliburton ', 'H/HamptRj01': 'R.J. Hampton ', 'H/HardaTi02': 'Tim Hardaway Jr. ', 'H/HardeJa01': 'James Harden ', 'H/HarklMa01': 'Maurice Harkless ', 'H/HarpeJa01': 'Jared Harper ', 'H/HarreMo01': 'Montrezl Harrell ', 'H/HarriGa01': 'Gary Harris ', 'H/HarriJo01': 'Joe Harris ', 'H/HarriTo02': 'Tobias Harris ', 'H/HartJo01': 'Josh Hart ', 'H/HarteIs01': 'Isaiah Hartenstein ', 'H/HasleUd01': 'Udonis Haslem ', 'H/HayesJa02': 'Jaxson Hayes ', 'H/HayesKi01': 'Killian Hayes ', 'H/HaywaGo01': 'Gordon Hayward ', 'H/HernaJu01': 'Juan Hernangómez ', 'H/HernaWi01': 'Willy Hernangómez ', 'H/HerroTy01': 'Tyler Herro ', 'H/HieldBu01': 'Buddy Hield ', 'H/HillGe01': 'George Hill ', 'H/HillSo01': 'Solomon Hill ', 'H/HintoNa01': 'Nate Hinton ', 'H/HolidAa01': 'Aaron Holiday ', 'H/HolidJr01': 'Jrue Holiday ', 'H/HolidJu01': 'Justin Holiday ', 'H/HolmeRi01': 'Richaun Holmes ', 'H/HoodRo01': 'Rodney Hood ', 'H/HorfoAl01': 'Al Horford ', 'H/HortoTa01': 'Talen Horton-Tucker ', 'H/HouseDa01': 'Danuel House ', 'H/HowarDw01': 'Dwight Howard ', 'H/HowarMa02': 'Markus Howard ', 'H/HuertKe01': 'Kevin Huerter ', 'H/HugheEl01': 'Elijah Hughes ', 'H/HunteDe01': "De'Andre Hunter ", 'H/HutchCh01': 'Chandler Hutchison ', 'I/IbakaSe01': 'Serge Ibaka ', 'I/IguodAn01': 'Andre Iguodala ', 'I/IngleJo01': 'Joe Ingles ', 'I/IngraBr01': 'Brandon Ingram ', 'I/IrvinKy01': 'Kyrie Irving ', 'I/IwundWe01': 'Wesley Iwundu ', 'J/JacksFr01': 'Frank Jackson ', 'J/JacksJo02': 'Josh Jackson ', 'J/JacksRe01': 'Reggie Jackson ', 'J/JacksJa02': 'Jaren Jackson Jr. ', 'J/JamesLe01': 'LeBron James ', 'J/JeromTy01': 'Ty Jerome ', 'J/JoeIs01': 'Isaiah Joe ', 'J/JohnsAl02': 'Alize Johnson ', 'J/JohnsCa02': 'Cameron Johnson ', 'J/JohnsJa01': 'James Johnson ', 'J/JohnsKe04': 'Keldon Johnson ', 'J/JohnsSt04': 'Stanley Johnson ', 'J/JokicNi01': 'Nikola Jokić ', 'J/JonesDa03': 'Damian Jones ', 'J/JonesTr01': 'Tre Jones ', 'J/JonesTy01': 'Tyus Jones ', 'J/JonesDe02': 'Derrick Jones Jr. ', 'J/JordaDe01': 'DeAndre Jordan ', 'J/JosepCo01': 'Cory Joseph ', 'K/KabenMf01': 'Mfiondu Kabengele ', 'K/KaminFr01': 'Frank Kaminsky ', 'K/KanteEn01': 'Enes Kanter ', 'K/KennaLu01': 'Luke Kennard ', 'K/KingLo02': 'Louis King ', 'K/KlebiMa01': 'Maxi Kleber ', 'K/KnighNa01': 'Nathan Knight ', 'K/KnoxKe01': 'Kevin Knox ', 'K/KonchJo01': 'John Konchar ', 'K/KorkmFu01': 'Furkan Korkmaz ', 'K/KorneLu01': 'Luke Kornet ', 'K/KuzmaKy01': 'Kyle Kuzma ', 'L/LambAn01': 'Anthony Lamb ', 'L/LambJe01': 'Jeremy Lamb ', 'L/LangfRo01': 'Romeo Langford ', 'L/LaVinZa01': 'Zach LaVine ', 'L/LaymaJa01': 'Jake Layman ', 'L/LeeDa03': 'Damion Lee ', 'L/LeeSa01': 'Saben Lee ', 'L/LenAl01': 'Alex Len ', 'L/LeonaKa01': 'Kawhi Leonard ', 'L/LeVerCa01': 'Caris LeVert ', 'L/LewisKi01': 'Kira Lewis Jr. ', 'L/LillaDa01': 'Damian Lillard ', 'L/LittlNa01': 'Nassir Little ', 'L/LooneKe01': 'Kevon Looney ', 'L/LopezBr01': 'Brook Lopez ', 'L/LopezRo01': 'Robin Lopez ', 'L/Louzama01': 'Didi Louzada ', 'L/LoveKe01': 'Kevin Love ', 'L/LowryKy01': 'Kyle Lowry ', 'L/LuwawTi01': 'Timothé Luwawu-Cabarrot ', 'L/LylesTr01': 'Trey Lyles ', 'M/MaledTh01': 'Théo Maledon ', 'M/MannTe01': 'Terance Mann ', 'M/MarjaBo01': 'Boban Marjanović ', 'M/MarkkLa01': 'Lauri Markkanen ', 'M/MarshNa01': 'Naji Marshall ', 'M/MartiCa02': 'Caleb Martin ', 'M/MartiCo01': 'Cody Martin ', 'M/MartiKe03': 'Kelan Martin ', 'M/MartiKe04': 'Kenyon Martin Jr. ', 'M/MaxeyTy01': 'Tyrese Maxey ', 'M/MaysSk01': 'Skylar Mays ', 'M/McColCj01': 'CJ McCollum ', 'M/McConTj01': 'T.J. McConnell ', 'M/McDanJa01': 'Jalen McDaniels ', 'M/McDerDo01': 'Doug McDermott ', 'M/McGeeJa01': 'JaVale McGee ', 'M/McGruRo01': 'Rodney McGruder ', 'M/McLauJo01': 'Jordan McLaughlin ', 'M/McLemBe01': 'Ben McLemore ', 'M/MeltoDe01': "De'Anthony Melton ", 'M/MerriSa01': 'Sam Merrill ', 'M/MetuCh01': 'Chimezie Metu ', 'M/MiddlKh01': 'Khris Middleton ', 'M/MillsPa01': 'Paul Millsap ', 'M/MiltoSh01': 'Shake Milton ', 'M/MitchDo01': 'Donovan Mitchell ', 'M/MonkMa01': 'Malik Monk ', 'M/MooreEt01': "E'Twaun Moore ", 'M/MoranJa01': 'Ja Morant ', 'M/MorgaJu01': 'Juwan Morgan ', 'M/MorriMa02': 'Markieff Morris ', 'M/MorriMa03': 'Marcus Morris ', 'M/MorriMo01': 'Monte Morris ', 'M/MuldeMy01': 'Mychal Mulder ', 'M/MurraDe01': 'Dejounte Murray ', 'M/MurraJa01': 'Jamal Murray ', 'M/MuscaMi01': 'Mike Muscala ', 'M/MykhaSv01': 'Sviatoslav Mykhailiuk ', 'N/NaderAb01': 'Abdel Nader ', 'N/NanceLa02': 'Larry Nance Jr. ', 'N/NesmiAa01': 'Aaron Nesmith ', 'N/NetoRa01': 'Raul Neto ', 'N/NiangGe01': 'Georges Niang ', 'N/NnajiZe01': 'Zeke Nnaji ', 'N/NoelNe01': 'Nerlens Noel ', 'N/NowelJa01': 'Jaylen Nowell ', 'N/NunnKe01': 'Kendrick Nunn ', 'N/NurkiJu01': 'Jusuf Nurkić ', 'N/NwabaDa01': 'David Nwaba ', 'N/NworaJo01': 'Jordan Nwora ', 'O/OjeleSe01': 'Semi Ojeleye ', 'O/OkekeCh01': 'Chuma Okeke ', 'O/OkogiJo01': 'Josh Okogie ', 'O/OkongOn01': 'Onyeka Okongwu ', 'O/OkoroIs01': 'Isaac Okoro ', 'O/OkpalKZ01': 'KZ Okpala ', 'O/OladiVi01': 'Victor Oladipo ', 'O/OlynyKe01': 'Kelly Olynyk ', 'o/onealro01': "Royce O'Neale ", 'O/OniMi01': 'Miye Oni ', 'O/Osmande01': 'Cedi Osman ', 'O/OturuDa01': 'Daniel Oturu ', 'O/OubreKe01': 'Kelly Oubre Jr. ', 'P/ParkeJa01': 'Jabari Parker ', 'P/PaschEr01': 'Eric Paschall ', 'P/PattePa01': 'Patrick Patterson ', 'P/PaulCh01': 'Chris Paul ', 'P/PayneCa01': 'Cameron Payne ', 'P/PaytoEl01': 'Elfrid Payton ', 'P/PaytoGa02': 'Gary Payton II ', 'P/PlumlMa01': 'Mason Plumlee ', 'P/PoeltJa01': 'Jakob Poeltl ', 'P/PokusAl01': 'Aleksej Pokusevski ', 'P/PooleJo01': 'Jordan Poole ', 'P/PorteOt01': 'Otto Porter ', 'P/PorteKe02': 'Kevin Porter Jr. ', 'P/PorteMi01': 'Michael Porter Jr. ', 'P/PortiBo01': 'Bobby Portis ', 'P/PorziKr01': 'Kristaps Porziņģis ', 'P/PowelDw01': 'Dwight Powell ', 'P/PowelNo01': 'Norman Powell ', 'P/PrincTa02': 'Taurean Prince ', 'P/PritcPa01': 'Payton Pritchard ', 'Q/QuickIm01': 'Immanuel Quickley ', 'R/RamseJa01': "Jahmi'us Ramsey ", 'R/RandlJu01': 'Julius Randle ', 'R/ReddiCa01': 'Cam Reddish ', 'R/ReedPa01': 'Paul Reed ', 'R/ReidNa01': 'Naz Reid ', 'R/RichaNi01': 'Nick Richards ', 'R/RichaJo01': 'Josh Richardson ', 'R/RilleGr01': 'Grant Riller ', 'R/RiverAu01': 'Austin Rivers ', 'R/RobinDu01': 'Duncan Robinson ', 'R/RobinJu01': 'Justin Robinson ', 'R/RobinMi01': 'Mitchell Robinson ', 'R/RobyIs01': 'Isaiah Roby ', 'R/RondoRa01': 'Rajon Rondo ', 'R/RoseDe01': 'Derrick Rose ', 'R/RossTe01': 'Terrence Ross ', 'R/RozieTe01': 'Terry Rozier ', 'R/RubioRi01': 'Ricky Rubio ', 'R/RusseDa01': "D'Angelo Russell ", 'S/SabonDo01': 'Domantas Sabonis ', 'S/SamanLu01': 'Luka Šamanić ', 'S/SaricDa01': 'Dario Šarić ', 'S/SatorTo01': 'Tomáš Satoranský ', 'S/SchroDe01': 'Dennis Schröder ', 'S/ScrubJa01': 'Jay Scrubb ', 'S/SextoCo01': 'Collin Sexton ', 'S/ShameLa01': 'Landry Shamet ', 'S/SiakaPa01': 'Pascal Siakam ', 'S/SimmoBe01': 'Ben Simmons ', 'S/SimonAn01': 'Anfernee Simons ', 'S/SmartMa01': 'Marcus Smart ', 'S/SmithIs01': 'Ish Smith ', 'S/SmithJa04': 'Jalen Smith ', 'S/SmithDe03': 'Dennis Smith Jr. ', 'S/SnellTo01': 'Tony Snell ', 'S/SteveLa01': 'Lamar Stevens ', 'S/StewaIs01': 'Isaiah Stewart ', 'S/StrusMa01': 'Max Strus ', 'S/SumneEd01': 'Edmond Sumner ', 'T/TateJa01': "Jae'Sean Tate ", 'T/TatumJa01': 'Jayson Tatum ', 'T/TemplGa01': 'Garrett Temple ', 'T/TerryTy01': 'Tyrell Terry ', 'T/TheisDa01': 'Daniel Theis ', 'T/ThomaBr01': 'Brodric Thomas ', 'T/ThomaKh01': 'Khyri Thomas ', 'T/ThomaMa02': 'Matt Thomas ', 'T/ThompTr01': 'Tristan Thompson ', 'T/ThybuMa01': 'Matisse Thybulle ', 'T/TilliKi02': 'Killian Tillie ', 'T/TillmXa01': 'Xavier Tillman Sr. ', 'T/ToppiOb01': 'Obi Toppin ', 'T/ToscaJu01': 'Juan Toscano-Anderson ', 'T/TownsKa01': 'Karl-Anthony Towns ', 'T/TrentGa02': 'Gary Trent Jr. ', 'T/TuckePj01': 'P.J. Tucker ', 'T/TurneMy01': 'Myles Turner ', 'V/ValanJo01': 'Jonas Valančiūnas ', 'V/ValenDe01': 'Denzel Valentine ', 'V/VandeJa01': 'Jarred Vanderbilt ', 'V/VanVlFr01': 'Fred VanVleet ', 'V/VasseDe01': 'Devin Vassell ', 'V/VinceGa01': 'Gabe Vincent ', 'V/VucevNi01': 'Nikola Vučević ', 'W/WadeDe01': 'Dean Wade ', 'W/WagneMo01': 'Moritz Wagner ', 'W/WalkeKe02': 'Kemba Walker ', 'W/WalkeLo01': 'Lonnie Walker ', 'W/WallJo01': 'John Wall ', 'W/WarreTj01': 'T.J. Warren ', 'W/WashiPj01': 'P.J. Washington ', 'W/WatanYu01': 'Yuta Watanabe ', 'W/WaterTr01': 'Tremont Waters ', 'W/WatsoPa01': 'Paul Watson ', 'W/WestbRu01': 'Russell Westbrook ', 'W/WhiteCo01': 'Coby White ', 'W/WhiteDe01': 'Derrick White ', 'W/WhiteHa01': 'Hassan Whiteside ', 'W/WiggiAn01': 'Andrew Wiggins ', 'W/WilliGr01': 'Grant Williams ', 'W/WilliKe04': 'Kenrich Williams ', 'W/WilliLo02': 'Lou Williams ', 'W/WilliPa01': 'Patrick Williams ', 'W/WilliRo04': 'Robert Williams ', 'W/WilliZi01': 'Zion Williamson ', 'W/WindlDy01': 'Dylan Windler ', 'W/WinslJu01': 'Justise Winslow ', 'W/WinstCa01': 'Cassius Winston ', 'W/WisemJa01': 'James Wiseman ', 'W/WoodCh01': 'Christian Wood ', 'W/WoodaRo01': 'Robert Woodard ', 'W/WrighDe01': 'Delon Wright ', 'Y/YoungTh01': 'Thaddeus Young ', 'Y/YoungTr01': 'Trae Young ', 'Z/ZelleCo01': 'Cody Zeller ', 'Z/ZubacIv01': 'Ivica Zubac ', 'J/Jacksju01': 'Justin Jackson ', 'O/Okafoja01': 'Jahlil Okafor ', 'W/Wilsodj01': 'D.J. Wilson ', 'j/jamesju01': 'Justin James ', 'b/biyombi01': 'Bismack Biyombo ', 'b/bradlav01': 'Avery Bradley ', 'm/mannini01': 'Nico Mannion ', 'p/perryre01': 'Reggie Perry ', 'j/johnsty01': 'Tyler Johnson ', 's/sampsja02': 'JaKarr Sampson ', 'm/mckinal01': 'Alfonzo McKinnie ', 'm/mcderse01': 'Sean McDermott ', 'g/gallola01': 'Langston Galloway ', 'g/guyky01': 'Kyle Guy ', 'c/cacokde01': 'Devontae Cacok ', 'c/couside01': 'DeMarcus Cousins ', 'm/mcdanja02': 'Jaden McDaniels ', 'g/goodwbr01': 'Brandon Goodwin ', 'm/mathega01': 'Garrison Mathews ', 'g/gasolma01': 'Marc Gasol ', 'a/arcidry01': 'Ryan Arcidiacono ', 'e/ennisja01': 'James Ennis ', 'n/ntilila01': 'Frank Ntilikina ', 'd/dotsoda01': 'Damyean Dotson ', 'r/robinje01': 'Jerome Robinson ', 'j/jonesma05': 'Mason Jones ', 'm/scottmi01': 'Mike Scott ', 'm/millspa02': 'Patty Mills ', 'w/wanambr01': 'Brad Wanamaker ', 'c/clarkga01': 'Gary Clark ', 'h/harrish01': 'Shaquille Harrison ', 'r/robingl02': 'Glenn Robinson III ', 'r/randlch01': 'Chasson Randle ', 'r/redicjj01': 'J.J. Redick ', 'j/jeffrda01': 'DaQuan Jeffries ', 'b/baynear01': 'Aron Baynes ', 's/stanlca01': 'Cassius Stanley ', 't/teaguje01': 'Jeff Teague ', 'a/antetko01': 'Kostas Antetokounmpo ', 'm/masonfr01': 'Frank Mason III ', 'c/cookqu01': 'Quinn Cook ', 'f/feliccr01': 'Cristiano Felício ', 's/sirvyde01': 'Deividas Sirvydis ', 'h/holliro01': 'Rondae Hollis-Jefferson ', 'b/blevike01': 'Keljin Blevins ', 'h/halljo01': 'Josh Hall ', 'd/deckga01': 'Gabriel Deck ', 'w/weathqu01': 'Quinndary Weatherspoon ', 'm/matthwe02': 'Wesley Matthews ', 't/thornsi01': 'Sindarius Thornwell ', 'm/mellini01': 'Nicolò Melli ', 'd/davised01': 'Ed Davis ', 'j/jamesmi02': 'Mike James ', 'd/dellama01': 'Matthew Dellavedova ', 'h/hoardja01': 'Jaylen Hoard ', 'e/exumda01': 'Dante Exum '}

In [16]:
pd.DataFrame.from_dict(data=dictionary, orient='index').to_csv('dict_file.csv', header=False)

In [17]:
player_dict=pd.read_csv("dict_file.csv")

In [54]:
player_dict

      PlayerCode                 PlayerName
0    A/AchiuPr01           Precious Achiuwa
1    A/AdamsSt01              Steven Adams
2    A/AdebaBa01               Bam Adebayo
3    A/AldriLa01         LaMarcus Aldridge
4    A/AlexaNi01  Nickeil Alexander-Walker
..           ...                        ...
482  d/davised01                  Ed Davis
483  j/jamesmi02                Mike James
484  d/dellama01       Matthew Dellavedova
485  h/hoardja01              Jaylen Hoard
486   e/exumda01                Dante Exum

[487 rows x 2 columns]

In [55]:
player_dict.columns =['PlayerCode', 'PlayerName']

new_row = pd.DataFrame({'PlayerCode':'A/AchiuPr01', 'PlayerName':'Precious Achiuwa'}, index =[0])
player_dict = pd.concat([new_row, player_dict]).reset_index(drop = True)
player_dict

      PlayerCode            PlayerName
0    A/AchiuPr01      Precious Achiuwa
1    A/AchiuPr01      Precious Achiuwa
2    A/AdamsSt01         Steven Adams
3    A/AdebaBa01          Bam Adebayo
4    A/AldriLa01    LaMarcus Aldridge
..           ...                   ...
483  d/davised01             Ed Davis
484  j/jamesmi02           Mike James
485  d/dellama01  Matthew Dellavedova
486  h/hoardja01         Jaylen Hoard
487   e/exumda01           Dante Exum

[488 rows x 2 columns]

Justin Jackson
Jahlil Okafor
D.J. Wilson
Justin James
Bismack Biyombo
Avery Bradley
Nico Mannion
Reggie Perry
Tyler Johnson
JaKarr Sampson
Alfonzo McKinnie
Sean McDermott
Langston Galloway
Kyle Guy
Devontae Cacok
DeMarcus Cousins
Jaden McDaniels
Brandon Goodwin
Garrison Mathews
Marc Gasol
Ryan Arcidiacono
James Ennis
Frank Ntilikina
Damyean Dotson
Jerome Robinson
Mason Jones
Mike Scott
Patty Mills
Brad Wanamaker
Gary Clark
Shaquille Harrison
Glenn Robinson III
Chasson Randle
J.J. Redick
DaQuan Jeffries
Aron Baynes
Cassius Stanley
Jeff Teague

In [56]:
player_dict.to_csv("playernamecheck.csv")

In [57]:
dictionary=pd.Series(player_dict.PlayerName.values,index=player_dict.PlayerCode).to_dict()
dictionary

{'A/AchiuPr01': 'Precious Achiuwa',
 'A/AdamsSt01': 'Steven Adams ',
 'A/AdebaBa01': 'Bam Adebayo ',
 'A/AldriLa01': 'LaMarcus Aldridge ',
 'A/AlexaNi01': 'Nickeil Alexander-Walker ',
 'A/AllenGr01': 'Grayson Allen ',
 'A/AllenJa01': 'Jarrett Allen ',
 'A/AminuAl01': 'Al-Farouq Aminu ',
 'A/AnderKy01': 'Kyle Anderson ',
 'A/AntetGi01': 'Giannis Antetokounmpo ',
 'A/AntetTh01': 'Thanasis Antetokounmpo ',
 'A/AnthoCa01': 'Carmelo Anthony ',
 'A/AnthoCo01': 'Cole Anthony ',
 'A/AnunoOG01': 'OG Anunoby ',
 'A/ArizaTr01': 'Trevor Ariza ',
 'A/AugusDj01': 'D.J. Augustin ',
 'A/AvdijDe01': 'Deni Avdija ',
 'A/AytonDe01': 'Deandre Ayton ',
 'A/AzubuUd01': 'Udoka Azubuike ',
 'B/BaconDw01': 'Dwayne Bacon ',
 'B/BagleMa01': 'Marvin Bagley III ',
 'B/BallLa01': 'LaMelo Ball ',
 'B/BallLo01': 'Lonzo Ball ',
 'B/BambaMo01': 'Mo Bamba ',
 'B/BaneDe01': 'Desmond Bane ',
 'B/BarneHa02': 'Harrison Barnes ',
 'B/BarreRJ01': 'RJ Barrett ',
 'B/BartoWi01': 'Will Barton ',
 'B/BatesKe01': 'Keita Bates-Diop ',
 'B/BatumNi01': 'Nicolas Batum ',
 'B/BazemKe01': 'Kent Bazemore ',
 'B/BazleDa01': 'Darius Bazley ',
 'B/BealBr01': 'Bradley Beal ',
 'B/BeaslMa01': 'Malik Beasley ',
 'B/BembrDe01': "DeAndre' Bembry ",
 'B/BertaDa01': 'Dāvis Bertāns ',
 'B/BeverPa01': 'Patrick Beverley ',
 'B/BeySa01': 'Saddiq Bey ',
 'B/BeyTy01': 'Tyler Bey ',
 'B/BirchKh01': 'Khem Birch ',
 'B/BitadGo01': 'Goga Bitadze ',
 'B/BjeliNe01': 'Nemanja Bjelica ',
 'B/BledsEr01': 'Eric Bledsoe ',
 'B/BogdaBo01': 'Bogdan Bogdanović ',
 'B/BogdaBo02': 'Bojan Bogdanović ',
 'B/BolBo01': 'Bol Bol ',
 'B/BongaIs01': 'Isaac Bonga ',
 'B/BookeDe01': 'Devin Booker ',
 'B/BouchCh01': 'Chris Boucher ',
 'B/BradlTo01': 'Tony Bradley ',
 'B/BrantJa01': 'Jarrell Brantley ',
 'B/BrazdIg01': 'Ignas Brazdeikis ',
 'B/BridgMi01': 'Mikal Bridges ',
 'B/BridgMi02': 'Miles Bridges ',
 'B/BrissOs01': 'Oshae Brissett ',
 'B/BrogdMa01': 'Malcolm Brogdon ',
 'B/BrookAr01': 'Armoni Brooks ',
 'B/BrookDi01': 'Dillon Brooks ',
 'B/BrownBr01': 'Bruce Brown ',
 'B/BrownCh02': 'Charlie Brown ',
 'B/BrownJa02': 'Jaylen Brown ',
 'B/BrownMo01': 'Moses Brown ',
 'B/BrownSt02': 'Sterling Brown ',
 'B/BrownTr01': 'Troy Brown Jr. ',
 'B/BrunsJa01': 'Jalen Brunson ',
 'B/BryanEl01': 'Elijah Bryant ',
 'B/BryanTh01': 'Thomas Bryant ',
 'B/BulloRe01': 'Reggie Bullock ',
 'B/BurkeTr01': 'Trey Burke ',
 'B/BurksAl01': 'Alec Burks ',
 'B/ButleJi01': 'Jimmy Butler ',
 'C/CaldwKe01': 'Kentavious Caldwell-Pope ',
 'C/CampaFa01': 'Facundo Campazzo ',
 'C/CancaVl01': 'Vlatko Čančar ',
 'C/CapelCa01': 'Clint Capela ',
 'C/CareyVe01': 'Vernon Carey Jr. ',
 'C/CarteJe01': 'Jevon Carter ',
 'C/CarteWe01': 'Wendell Carter Jr. ',
 'C/CarteMi01': 'Michael Carter-Williams ',
 'C/CarusAl01': 'Alex Caruso ',
 'C/CauleWi01': 'Willie Cauley-Stein ',
 'C/ChiozCh01': 'Chris Chiozza ',
 'C/ChrisMa01': 'Marquese Chriss ',
 'C/ClarkBr01': 'Brandon Clarke ',
 'C/ClarkJo01': 'Jordan Clarkson ',
 'C/ClaxtNi01': 'Nicolas Claxton ',
 'C/CoffeAm01': 'Amir Coffey ',
 'C/ColliJo01': 'John Collins ',
 'C/ConleMi01': 'Mike Conley ',
 'C/ConnaPa01': 'Pat Connaughton ',
 'C/CookTy01': 'Tyler Cook ',
 'C/CovinRo01': 'Robert Covington ',
 'C/CraigTo01': 'Torrey Craig ',
 'C/CrowdJa01': 'Jae Crowder ',
 'C/CulveJa01': 'Jarrett Culver ',
 'C/CurrySe01': 'Seth Curry ',
 'C/CurrySt01': 'Stephen Curry ',
 'D/DavisAn02': 'Anthony Davis ',
 'D/DavisTe02': 'Terence Davis ',
 'D/DeckGa01': 'Gabriel Deck ',
 'D/DedmoDe01': 'Dewayne Dedmon ',
 'D/DeRozDe01': 'DeMar DeRozan ',
 'D/DiakiMa01': 'Mamadi Diakite ',
 'D/DiallHa01': 'Hamidou Diallo ',
 'D/DiengGo01': 'Gorgui Dieng ',
 'D/DinwiSp01': 'Spencer Dinwiddie ',
 'D/DiVinDo01': 'Donte DiVincenzo ',
 'D/DonciLu01': 'Luka Dončić ',
 'D/DortLu01': 'Luguentz Dort ',
 'D/DotsoDe01': 'Devon Dotson ',
 'D/DoumbSe01': 'Sekou Doumbouya ',
 'D/DoziePj01': 'PJ Dozier ',
 'D/DragiGo01': 'Goran Dragić ',
 'D/DrummAn01': 'Andre Drummond ',
 'D/DunnKr01': 'Kris Dunn ',
 'D/DuranKe01': 'Kevin Durant ',
 'E/EdwarAn01': 'Anthony Edwards ',
 'E/EdwarCa01': 'Carsen Edwards ',
 'E/EllebCj01': 'CJ Elleby ',
 'E/EllinWa01': 'Wayne Ellington ',
 'E/EmbiiJo01': 'Joel Embiid ',
 'E/EubanDr01': 'Drew Eubanks ',
 'F/FallTa01': 'Tacko Fall ',
 'F/FavorDe01': 'Derrick Favors ',
 'F/FernaBr01': 'Bruno Fernando ',
 'F/FinneDo01': 'Dorian Finney-Smith ',
 'F/FlynnMa01': 'Malachi Flynn ',
 'F/ForbeBr01': 'Bryn Forbes ',
 'F/ForreTr01': 'Trent Forrest ',
 'F/FournEv01': 'Evan Fournier ',
 'F/FoxDe01': "De'Aaron Fox ",
 'F/FultzMa01': 'Markelle Fultz ',
 'G/GabriWe01': 'Wenyen Gabriel ',
 'G/GaffoDa01': 'Daniel Gafford ',
 'G/GalliDa01': 'Danilo Gallinari ',
 'G/GarlaDa01': 'Darius Garland ',
 'G/GayRu01': 'Rudy Gay ',
 'G/GeorgPa01': 'Paul George ',
 'G/GibsoTa01': 'Taj Gibson ',
 'G/GilesHa01': 'Harry Giles ',
 'G/GilgeSh01': 'Shai Gilgeous-Alexander ',
 'G/GillAn01': 'Anthony Gill ',
 'G/GilleFr01': 'Freddie Gillespie ',
 'G/GoberRu01': 'Rudy Gobert ',
 'G/GordoAa01': 'Aaron Gordon ',
 'G/GordoEr01': 'Eric Gordon ',
 'G/GrahaDe01': "Devonte' Graham ",
 'G/GrantJe01': 'Jerami Grant ',
 'G/GreenDa02': 'Danny Green ',
 'G/GreenDr01': 'Draymond Green ',
 'G/GreenJa01': 'JaMychal Green ',
 'G/GreenJa02': 'Javonte Green ',
 'G/GreenJe02': 'Jeff Green ',
 'G/GreenJo02': 'Josh Green ',
 'G/GriffBl01': 'Blake Griffin ',
 'H/HachiRu01': 'Rui Hachimura ',
 'H/HalibTy01': 'Tyrese Haliburton ',
 'H/HamptRj01': 'R.J. Hampton ',
 'H/HardaTi02': 'Tim Hardaway Jr. ',
 'H/HardeJa01': 'James Harden ',
 'H/HarklMa01': 'Maurice Harkless ',
 'H/HarpeJa01': 'Jared Harper ',
 'H/HarreMo01': 'Montrezl Harrell ',
 'H/HarriGa01': 'Gary Harris ',
 'H/HarriJo01': 'Joe Harris ',
 'H/HarriTo02': 'Tobias Harris ',
 'H/HartJo01': 'Josh Hart ',
 'H/HarteIs01': 'Isaiah Hartenstein ',
 'H/HasleUd01': 'Udonis Haslem ',
 'H/HayesJa02': 'Jaxson Hayes ',
 'H/HayesKi01': 'Killian Hayes ',
 'H/HaywaGo01': 'Gordon Hayward ',
 'H/HernaJu01': 'Juan Hernangómez ',
 'H/HernaWi01': 'Willy Hernangómez ',
 'H/HerroTy01': 'Tyler Herro ',
 'H/HieldBu01': 'Buddy Hield ',
 'H/HillGe01': 'George Hill ',
 'H/HillSo01': 'Solomon Hill ',
 'H/HintoNa01': 'Nate Hinton ',
 'H/HolidAa01': 'Aaron Holiday ',
 'H/HolidJr01': 'Jrue Holiday ',
 'H/HolidJu01': 'Justin Holiday ',
 'H/HolmeRi01': 'Richaun Holmes ',
 'H/HoodRo01': 'Rodney Hood ',
 'H/HorfoAl01': 'Al Horford ',
 'H/HortoTa01': 'Talen Horton-Tucker ',
 'H/HouseDa01': 'Danuel House ',
 'H/HowarDw01': 'Dwight Howard ',
 'H/HowarMa02': 'Markus Howard ',
 'H/HuertKe01': 'Kevin Huerter ',
 'H/HugheEl01': 'Elijah Hughes ',
 'H/HunteDe01': "De'Andre Hunter ",
 'H/HutchCh01': 'Chandler Hutchison ',
 'I/IbakaSe01': 'Serge Ibaka ',
 'I/IguodAn01': 'Andre Iguodala ',
 'I/IngleJo01': 'Joe Ingles ',
 'I/IngraBr01': 'Brandon Ingram ',
 'I/IrvinKy01': 'Kyrie Irving ',
 'I/IwundWe01': 'Wesley Iwundu ',
 'J/JacksFr01': 'Frank Jackson ',
 'J/JacksJo02': 'Josh Jackson ',
 'J/JacksRe01': 'Reggie Jackson ',
 'J/JacksJa02': 'Jaren Jackson Jr. ',
 'J/JamesLe01': 'LeBron James ',
 'J/JeromTy01': 'Ty Jerome ',
 'J/JoeIs01': 'Isaiah Joe ',
 'J/JohnsAl02': 'Alize Johnson ',
 'J/JohnsCa02': 'Cameron Johnson ',
 'J/JohnsJa01': 'James Johnson ',
 'J/JohnsKe04': 'Keldon Johnson ',
 'J/JohnsSt04': 'Stanley Johnson ',
 'J/JokicNi01': 'Nikola Jokić ',
 'J/JonesDa03': 'Damian Jones ',
 'J/JonesTr01': 'Tre Jones ',
 'J/JonesTy01': 'Tyus Jones ',
 'J/JonesDe02': 'Derrick Jones Jr. ',
 'J/JordaDe01': 'DeAndre Jordan ',
 'J/JosepCo01': 'Cory Joseph ',
 'K/KabenMf01': 'Mfiondu Kabengele ',
 'K/KaminFr01': 'Frank Kaminsky ',
 'K/KanteEn01': 'Enes Kanter ',
 'K/KennaLu01': 'Luke Kennard ',
 'K/KingLo02': 'Louis King ',
 'K/KlebiMa01': 'Maxi Kleber ',
 'K/KnighNa01': 'Nathan Knight ',
 'K/KnoxKe01': 'Kevin Knox ',
 'K/KonchJo01': 'John Konchar ',
 'K/KorkmFu01': 'Furkan Korkmaz ',
 'K/KorneLu01': 'Luke Kornet ',
 'K/KuzmaKy01': 'Kyle Kuzma ',
 'L/LambAn01': 'Anthony Lamb ',
 'L/LambJe01': 'Jeremy Lamb ',
 'L/LangfRo01': 'Romeo Langford ',
 'L/LaVinZa01': 'Zach LaVine ',
 'L/LaymaJa01': 'Jake Layman ',
 'L/LeeDa03': 'Damion Lee ',
 'L/LeeSa01': 'Saben Lee ',
 'L/LenAl01': 'Alex Len ',
 'L/LeonaKa01': 'Kawhi Leonard ',
 'L/LeVerCa01': 'Caris LeVert ',
 'L/LewisKi01': 'Kira Lewis Jr. ',
 'L/LillaDa01': 'Damian Lillard ',
 'L/LittlNa01': 'Nassir Little ',
 'L/LooneKe01': 'Kevon Looney ',
 'L/LopezBr01': 'Brook Lopez ',
 'L/LopezRo01': 'Robin Lopez ',
 'L/Louzama01': 'Didi Louzada ',
 'L/LoveKe01': 'Kevin Love ',
 'L/LowryKy01': 'Kyle Lowry ',
 'L/LuwawTi01': 'Timothé Luwawu-Cabarrot ',
 'L/LylesTr01': 'Trey Lyles ',
 'M/MaledTh01': 'Théo Maledon ',
 'M/MannTe01': 'Terance Mann ',
 'M/MarjaBo01': 'Boban Marjanović ',
 'M/MarkkLa01': 'Lauri Markkanen ',
 'M/MarshNa01': 'Naji Marshall ',
 'M/MartiCa02': 'Caleb Martin ',
 'M/MartiCo01': 'Cody Martin ',
 'M/MartiKe03': 'Kelan Martin ',
 'M/MartiKe04': 'Kenyon Martin Jr. ',
 'M/MaxeyTy01': 'Tyrese Maxey ',
 'M/MaysSk01': 'Skylar Mays ',
 'M/McColCj01': 'CJ McCollum ',
 'M/McConTj01': 'T.J. McConnell ',
 'M/McDanJa01': 'Jalen McDaniels ',
 'M/McDerDo01': 'Doug McDermott ',
 'M/McGeeJa01': 'JaVale McGee ',
 'M/McGruRo01': 'Rodney McGruder ',
 'M/McLauJo01': 'Jordan McLaughlin ',
 'M/McLemBe01': 'Ben McLemore ',
 'M/MeltoDe01': "De'Anthony Melton ",
 'M/MerriSa01': 'Sam Merrill ',
 'M/MetuCh01': 'Chimezie Metu ',
 'M/MiddlKh01': 'Khris Middleton ',
 'M/MillsPa01': 'Paul Millsap ',
 'M/MiltoSh01': 'Shake Milton ',
 'M/MitchDo01': 'Donovan Mitchell ',
 'M/MonkMa01': 'Malik Monk ',
 'M/MooreEt01': "E'Twaun Moore ",
 'M/MoranJa01': 'Ja Morant ',
 'M/MorgaJu01': 'Juwan Morgan ',
 'M/MorriMa02': 'Markieff Morris ',
 'M/MorriMa03': 'Marcus Morris ',
 'M/MorriMo01': 'Monte Morris ',
 'M/MuldeMy01': 'Mychal Mulder ',
 'M/MurraDe01': 'Dejounte Murray ',
 'M/MurraJa01': 'Jamal Murray ',
 'M/MuscaMi01': 'Mike Muscala ',
 'M/MykhaSv01': 'Sviatoslav Mykhailiuk ',
 'N/NaderAb01': 'Abdel Nader ',
 'N/NanceLa02': 'Larry Nance Jr. ',
 'N/NesmiAa01': 'Aaron Nesmith ',
 'N/NetoRa01': 'Raul Neto ',
 'N/NiangGe01': 'Georges Niang ',
 'N/NnajiZe01': 'Zeke Nnaji ',
 'N/NoelNe01': 'Nerlens Noel ',
 'N/NowelJa01': 'Jaylen Nowell ',
 'N/NunnKe01': 'Kendrick Nunn ',
 'N/NurkiJu01': 'Jusuf Nurkić ',
 'N/NwabaDa01': 'David Nwaba ',
 'N/NworaJo01': 'Jordan Nwora ',
 'O/OjeleSe01': 'Semi Ojeleye ',
 'O/OkekeCh01': 'Chuma Okeke ',
 'O/OkogiJo01': 'Josh Okogie ',
 'O/OkongOn01': 'Onyeka Okongwu ',
 'O/OkoroIs01': 'Isaac Okoro ',
 'O/OkpalKZ01': 'KZ Okpala ',
 'O/OladiVi01': 'Victor Oladipo ',
 'O/OlynyKe01': 'Kelly Olynyk ',
 'o/onealro01': "Royce O'Neale ",
 'O/OniMi01': 'Miye Oni ',
 'O/Osmande01': 'Cedi Osman ',
 'O/OturuDa01': 'Daniel Oturu ',
 'O/OubreKe01': 'Kelly Oubre Jr. ',
 'P/ParkeJa01': 'Jabari Parker ',
 'P/PaschEr01': 'Eric Paschall ',
 'P/PattePa01': 'Patrick Patterson ',
 'P/PaulCh01': 'Chris Paul ',
 'P/PayneCa01': 'Cameron Payne ',
 'P/PaytoEl01': 'Elfrid Payton ',
 'P/PaytoGa02': 'Gary Payton II ',
 'P/PlumlMa01': 'Mason Plumlee ',
 'P/PoeltJa01': 'Jakob Poeltl ',
 'P/PokusAl01': 'Aleksej Pokusevski ',
 'P/PooleJo01': 'Jordan Poole ',
 'P/PorteOt01': 'Otto Porter ',
 'P/PorteKe02': 'Kevin Porter Jr. ',
 'P/PorteMi01': 'Michael Porter Jr. ',
 'P/PortiBo01': 'Bobby Portis ',
 'P/PorziKr01': 'Kristaps Porziņģis ',
 'P/PowelDw01': 'Dwight Powell ',
 'P/PowelNo01': 'Norman Powell ',
 'P/PrincTa02': 'Taurean Prince ',
 'P/PritcPa01': 'Payton Pritchard ',
 'Q/QuickIm01': 'Immanuel Quickley ',
 'R/RamseJa01': "Jahmi'us Ramsey ",
 'R/RandlJu01': 'Julius Randle ',
 'R/ReddiCa01': 'Cam Reddish ',
 'R/ReedPa01': 'Paul Reed ',
 'R/ReidNa01': 'Naz Reid ',
 'R/RichaNi01': 'Nick Richards ',
 'R/RichaJo01': 'Josh Richardson ',
 'R/RilleGr01': 'Grant Riller ',
 'R/RiverAu01': 'Austin Rivers ',
 'R/RobinDu01': 'Duncan Robinson ',
 'R/RobinJu01': 'Justin Robinson ',
 'R/RobinMi01': 'Mitchell Robinson ',
 'R/RobyIs01': 'Isaiah Roby ',
 'R/RondoRa01': 'Rajon Rondo ',
 'R/RoseDe01': 'Derrick Rose ',
 'R/RossTe01': 'Terrence Ross ',
 'R/RozieTe01': 'Terry Rozier ',
 'R/RubioRi01': 'Ricky Rubio ',
 'R/RusseDa01': "D'Angelo Russell ",
 'S/SabonDo01': 'Domantas Sabonis ',
 'S/SamanLu01': 'Luka Šamanić ',
 'S/SaricDa01': 'Dario Šarić ',
 'S/SatorTo01': 'Tomáš Satoranský ',
 'S/SchroDe01': 'Dennis Schröder ',
 'S/ScrubJa01': 'Jay Scrubb ',
 'S/SextoCo01': 'Collin Sexton ',
 'S/ShameLa01': 'Landry Shamet ',
 'S/SiakaPa01': 'Pascal Siakam ',
 'S/SimmoBe01': 'Ben Simmons ',
 'S/SimonAn01': 'Anfernee Simons ',
 'S/SmartMa01': 'Marcus Smart ',
 'S/SmithIs01': 'Ish Smith ',
 'S/SmithJa04': 'Jalen Smith ',
 'S/SmithDe03': 'Dennis Smith Jr. ',
 'S/SnellTo01': 'Tony Snell ',
 'S/SteveLa01': 'Lamar Stevens ',
 'S/StewaIs01': 'Isaiah Stewart ',
 'S/StrusMa01': 'Max Strus ',
 'S/SumneEd01': 'Edmond Sumner ',
 'T/TateJa01': "Jae'Sean Tate ",
 'T/TatumJa01': 'Jayson Tatum ',
 'T/TemplGa01': 'Garrett Temple ',
 'T/TerryTy01': 'Tyrell Terry ',
 'T/TheisDa01': 'Daniel Theis ',
 'T/ThomaBr01': 'Brodric Thomas ',
 'T/ThomaKh01': 'Khyri Thomas ',
 'T/ThomaMa02': 'Matt Thomas ',
 'T/ThompTr01': 'Tristan Thompson ',
 'T/ThybuMa01': 'Matisse Thybulle ',
 'T/TilliKi02': 'Killian Tillie ',
 'T/TillmXa01': 'Xavier Tillman Sr. ',
 'T/ToppiOb01': 'Obi Toppin ',
 'T/ToscaJu01': 'Juan Toscano-Anderson ',
 'T/TownsKa01': 'Karl-Anthony Towns ',
 'T/TrentGa02': 'Gary Trent Jr. ',
 'T/TuckePj01': 'P.J. Tucker ',
 'T/TurneMy01': 'Myles Turner ',
 'V/ValanJo01': 'Jonas Valančiūnas ',
 'V/ValenDe01': 'Denzel Valentine ',
 'V/VandeJa01': 'Jarred Vanderbilt ',
 'V/VanVlFr01': 'Fred VanVleet ',
 'V/VasseDe01': 'Devin Vassell ',
 'V/VinceGa01': 'Gabe Vincent ',
 'V/VucevNi01': 'Nikola Vučević ',
 'W/WadeDe01': 'Dean Wade ',
 'W/WagneMo01': 'Moritz Wagner ',
 'W/WalkeKe02': 'Kemba Walker ',
 'W/WalkeLo01': 'Lonnie Walker ',
 'W/WallJo01': 'John Wall ',
 'W/WarreTj01': 'T.J. Warren ',
 'W/WashiPj01': 'P.J. Washington ',
 'W/WatanYu01': 'Yuta Watanabe ',
 'W/WaterTr01': 'Tremont Waters ',
 'W/WatsoPa01': 'Paul Watson ',
 'W/WestbRu01': 'Russell Westbrook ',
 'W/WhiteCo01': 'Coby White ',
 'W/WhiteDe01': 'Derrick White ',
 'W/WhiteHa01': 'Hassan Whiteside ',
 'W/WiggiAn01': 'Andrew Wiggins ',
 'W/WilliGr01': 'Grant Williams ',
 'W/WilliKe04': 'Kenrich Williams ',
 'W/WilliLo02': 'Lou Williams ',
 'W/WilliPa01': 'Patrick Williams ',
 'W/WilliRo04': 'Robert Williams ',
 'W/WilliZi01': 'Zion Williamson ',
 'W/WindlDy01': 'Dylan Windler ',
 'W/WinslJu01': 'Justise Winslow ',
 'W/WinstCa01': 'Cassius Winston ',
 'W/WisemJa01': 'James Wiseman ',
 'W/WoodCh01': 'Christian Wood ',
 'W/WoodaRo01': 'Robert Woodard ',
 'W/WrighDe01': 'Delon Wright ',
 'Y/YoungTh01': 'Thaddeus Young ',
 'Y/YoungTr01': 'Trae Young ',
 'Z/ZelleCo01': 'Cody Zeller ',
 'Z/ZubacIv01': 'Ivica Zubac ',
 'J/Jacksju01': 'Justin Jackson ',
 'O/Okafoja01': 'Jahlil Okafor ',
 'W/Wilsodj01': 'D.J. Wilson ',
 'j/jamesju01': 'Justin James ',
 'b/biyombi01': 'Bismack Biyombo ',
 'b/bradlav01': 'Avery Bradley ',
 'm/mannini01': 'Nico Mannion ',
 'p/perryre01': 'Reggie Perry ',
 'j/johnsty01': 'Tyler Johnson ',
 's/sampsja02': 'JaKarr Sampson ',
 'm/mckinal01': 'Alfonzo McKinnie ',
 'm/mcderse01': 'Sean McDermott ',
 'g/gallola01': 'Langston Galloway ',
 'g/guyky01': 'Kyle Guy ',
 'c/cacokde01': 'Devontae Cacok ',
 'c/couside01': 'DeMarcus Cousins ',
 'm/mcdanja02': 'Jaden McDaniels ',
 'g/goodwbr01': 'Brandon Goodwin ',
 'm/mathega01': 'Garrison Mathews ',
 'g/gasolma01': 'Marc Gasol ',
 'a/arcidry01': 'Ryan Arcidiacono ',
 'e/ennisja01': 'James Ennis ',
 'n/ntilila01': 'Frank Ntilikina ',
 'd/dotsoda01': 'Damyean Dotson ',
 'r/robinje01': 'Jerome Robinson ',
 'j/jonesma05': 'Mason Jones ',
 'm/scottmi01': 'Mike Scott ',
 'm/millspa02': 'Patty Mills ',
 'w/wanambr01': 'Brad Wanamaker ',
 'c/clarkga01': 'Gary Clark ',
 'h/harrish01': 'Shaquille Harrison ',
 'r/robingl02': 'Glenn Robinson III ',
 'r/randlch01': 'Chasson Randle ',
 'r/redicjj01': 'J.J. Redick ',
 'j/jeffrda01': 'DaQuan Jeffries ',
 'b/baynear01': 'Aron Baynes ',
 's/stanlca01': 'Cassius Stanley ',
 't/teaguje01': 'Jeff Teague ',
 'a/antetko01': 'Kostas Antetokounmpo ',
 'm/masonfr01': 'Frank Mason III ',
 'c/cookqu01': 'Quinn Cook ',
 'f/feliccr01': 'Cristiano Felício ',
 's/sirvyde01': 'Deividas Sirvydis ',
 'h/holliro01': 'Rondae Hollis-Jefferson ',
 'b/blevike01': 'Keljin Blevins ',
 'h/halljo01': 'Josh Hall ',
 'd/deckga01': 'Gabriel Deck ',
 'w/weathqu01': 'Quinndary Weatherspoon ',
 'm/matthwe02': 'Wesley Matthews ',
 't/thornsi01': 'Sindarius Thornwell ',
 'm/mellini01': 'Nicolò Melli ',
 'd/davised01': 'Ed Davis ',
 'j/jamesmi02': 'Mike James ',
 'd/dellama01': 'Matthew Dellavedova ',
 'h/hoardja01': 'Jaylen Hoard ',
 'e/exumda01': 'Dante Exum '}

In [58]:
empty_df4["PlayerName"] = empty_df4["PlayerCode"].apply(lambda x: dictionary.get(x))

In [59]:
empty_df4

,PlayerFullName,PlayerName,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,...,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals
0,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,0,0,0,0,False,False,0.0,0,11.75
1,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,1,0,0,0,0,False,False,0.0,0,19.25
2,PreciousAchiuwa,Precious Achiuwa,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,...,1,0,0,0,0,False,False,0.0,0,16.00
3,PreciousAchiuwa,Precious Achiuwa,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,...,0,0,0,0,0,False,False,0.0,0,6.75
4,PreciousAchiuwa,Precious Achiuwa,4,5,5,2021-01-01,21-104,MIA,@,DAL,...,1,0,0,0,0,False,False,0.0,0,18.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,DanteExum,Dante Exum,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,...,0,0,0,0,0,False,False,0.0,0,23.50
22668,DanteExum,Dante Exum,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,...,0,0,0,0,0,False,False,0.0,0,7.75
22669,DanteExum,Dante Exum,4,5,4,2020-12-31,25-171,CLE,@,IND,...,0,0,0,0,0,False,False,0.0,0,14.00
22670,DanteExum,Dante Exum,5,6,5,2021-01-02,25-173,CLE,@,ATL,...,0,0,0,0,0,False,False,0.0,0,14.75
22671,DanteExum,Dante Exum,6,7,6,2021-01-04,25-175,CLE,@,ORL,...,0,0,0,0,0,False,False,0.0,0,-0.50

In [60]:
col_name="PlayerName"
first_col = empty_df4.pop(col_name)

empty_df4.insert(0, "PlayerName", first_col)

In [61]:
empty_df4

,PlayerName,PlayerFullName,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,...,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals
0,Precious Achiuwa,PreciousAchiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,0,0,0,0,False,False,0.0,0,11.75
1,Precious Achiuwa,PreciousAchiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,1,0,0,0,0,False,False,0.0,0,19.25
2,Precious Achiuwa,PreciousAchiuwa,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,...,1,0,0,0,0,False,False,0.0,0,16.00
3,Precious Achiuwa,PreciousAchiuwa,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,...,0,0,0,0,0,False,False,0.0,0,6.75
4,Precious Achiuwa,PreciousAchiuwa,4,5,5,2021-01-01,21-104,MIA,@,DAL,...,1,0,0,0,0,False,False,0.0,0,18.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,Dante Exum,DanteExum,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,...,0,0,0,0,0,False,False,0.0,0,23.50
22668,Dante Exum,DanteExum,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,...,0,0,0,0,0,False,False,0.0,0,7.75
22669,Dante Exum,DanteExum,4,5,4,2020-12-31,25-171,CLE,@,IND,...,0,0,0,0,0,False,False,0.0,0,14.00
22670,Dante Exum,DanteExum,5,6,5,2021-01-02,25-173,CLE,@,ATL,...,0,0,0,0,0,False,False,0.0,0,14.75
22671,Dante Exum,DanteExum,6,7,6,2021-01-04,25-175,CLE,@,ORL,...,0,0,0,0,0,False,False,0.0,0,-0.50

In [62]:
PlayerStats=empty_df4

PlayerStats['PlayerFullName'] = PlayerStats['PlayerName'].str.replace(' ','')
col_name2="PlayerFullName"
first_col = empty_df4.pop(col_name2)

empty_df4.insert(0, "PlayerFullName", first_col)
PlayerStats

,PlayerFullName,PlayerName,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,...,DoubleDigitPoints,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals
0,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,0,0,0,0,False,False,0.0,0,11.75
1,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,1,0,0,0,0,False,False,0.0,0,19.25
2,PreciousAchiuwa,Precious Achiuwa,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,...,1,0,0,0,0,False,False,0.0,0,16.00
3,PreciousAchiuwa,Precious Achiuwa,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,...,0,0,0,0,0,False,False,0.0,0,6.75
4,PreciousAchiuwa,Precious Achiuwa,4,5,5,2021-01-01,21-104,MIA,@,DAL,...,1,0,0,0,0,False,False,0.0,0,18.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22667,DanteExum,Dante Exum,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,...,0,0,0,0,0,False,False,0.0,0,23.50
22668,DanteExum,Dante Exum,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,...,0,0,0,0,0,False,False,0.0,0,7.75
22669,DanteExum,Dante Exum,4,5,4,2020-12-31,25-171,CLE,@,IND,...,0,0,0,0,0,False,False,0.0,0,14.00
22670,DanteExum,Dante Exum,5,6,5,2021-01-02,25-173,CLE,@,ATL,...,0,0,0,0,0,False,False,0.0,0,14.75
22671,DanteExum,Dante Exum,6,7,6,2021-01-04,25-175,CLE,@,ORL,...,0,0,0,0,0,False,False,0.0,0,-0.50

In [63]:
PlayerStats.to_csv("CheckAll.csv")

In [64]:
PlayerSalaries = pd.read_csv("DK Salary Table - DK Salary Table.csv")
PlayerSalaries

       Unnamed: 0  DK Sal    Minutes          First  Last        Date
0               0    3200   2.866667         Drew Eubanks  2021-05-19
1               1    3400   8.650000         Drew Eubanks  2021-05-16
2               2    3100  22.966667         Drew Eubanks  2021-05-15
3               3    3200  13.450000         Drew Eubanks  2021-05-13
4               4    3200  13.666667         Drew Eubanks  2021-05-12
...           ...     ...        ...                  ...         ...
37053       38759    3200  11.733333  Willie Cauley-Stein  2021-01-03
37054       38760    3200  11.100000  Willie Cauley-Stein  2021-01-01
37055       38761    3300   9.350000  Willie Cauley-Stein  2020-12-30
37056       38763    3000  14.083333  Willie Cauley-Stein  2020-12-25
37057       38764    3000   6.033333  Willie Cauley-Stein  2020-12-23

[37058 rows x 5 columns]

In [65]:
#PlayerSalaries['Date'] = pd.to_datetime(PlayerSalaries['Date'], format='%Y-%m-%d')
PlayerSalaries["PlayerFullName"]=PlayerSalaries["First  Last"]
PlayerSalaries["PlayerFullName"] = PlayerSalaries["PlayerFullName"].astype(str)
PlayerSalaries['PlayerFullName'].str.strip()
PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].str.replace(' ', '')

In [66]:
PlayerSalaries

,Unnamed: 0,DK Sal,Minutes,First Last,Date,PlayerFullName
0,0,3200,2.866667,Drew Eubanks,2021-05-19,DrewEubanks
1,1,3400,8.650000,Drew Eubanks,2021-05-16,DrewEubanks
2,2,3100,22.966667,Drew Eubanks,2021-05-15,DrewEubanks
3,3,3200,13.450000,Drew Eubanks,2021-05-13,DrewEubanks
4,4,3200,13.666667,Drew Eubanks,2021-05-12,DrewEubanks
...,...,...,...,...,...,...
37053,38759,3200,11.733333,Willie Cauley-Stein,2021-01-03,WillieCauley-Stein
37054,38760,3200,11.100000,Willie Cauley-Stein,2021-01-01,WillieCauley-Stein
37055,38761,3300,9.350000,Willie Cauley-Stein,2020-12-30,WillieCauley-Stein
37056,38763,3000,14.083333,Willie Cauley-Stein,2020-12-25,WillieCauley-Stein
37057,38764,3000,6.033333,Willie Cauley-Stein,2020-12-23,WillieCauley-Stein

In [67]:
PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].replace(['LouisWilliams'],'LouWilliams')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['BobanMarjanović'],'BobanMarjanovic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['NikolaJokić'],'Nikola Jokic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['MarvinBagleyIII'],'MarvinBagley')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['MoBamba'],'MohamedBamba')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['DeAndre\'Bembry'],'DeAndreBembry')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['BogdanBogdanović'],'BogdanBogdanovic')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['BojanBogdanović'],'BojanBogdanovic')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['VlatkoČančar'],'VlatkoCancar')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['DāvisBertāns'],'DavisBertans')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['LukaDončić'],'LukaDoncic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['GoranDragić'],'GoranDragic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['JuanHernangómez'],'JuanHernangomez')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['WillyHernangómez'],'WillyHernangomez')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['WesleyIwundu'],'WesIwundu')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['Nikola Jokic'],'NikolaJokic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['DerrickJonesJr.'],'DerrickJones')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['JarenJacksonJr.'],'JarenJackson')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['ThéoMaledon'],'TheoMaledon')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['BobanMarjanović'],'BobanMarjanovic')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['LarryNanceJr.'],'LarryNance')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['JusufNurkić'],'JusufNurkic')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['KellyOubreJr.'],'KellyOubre')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['MichaelPorterJr.'],'MichaelPorter')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['KristapsPorziņģis'],'KristapsPorziņgis')
PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].replace(['KristapsPorzingis'],'KristapsPorziņgis')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['LukaŠamanić'],'LukaSamanic')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['DennisSchröder'],'DennisSchroder')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['IshSmith'],'IshmaelSmith')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['XavierTillmanSr.'],'XavierTillman')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['JonasValančiūnas'],'JonasValanciunas')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['NikolaVučević'],'NikolaVucevic')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['CJMcCollum'],'C.J.McCollum')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['TomášSatoranský'],'TomasSatoransky')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['DarioŠarić'],'DarioSaric')
PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].replace(['GuillermoHernangomez'],'WillyHernangomez')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['TimothéLuwawu-Cabarrot'],'TimotheLuwawu')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['KevinPorterJr.'],'KevinPorter')

PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['WesleyMatthews'],'WesMatthews')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['CristianoFelício'],'CristianoFelicio')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].replace(['NicolòMelli'],'NicoloMelli')

# A lot of troubleshooting occurred at this step of the project.  In the merging process below, I would troubleshoot by doing an outer join rather than an inner join.  The outer join made it so that i could see unpaired items from the two dataframes.  The most common reasons for player names not pairing were accents (or diacritical marks), and other things like T.J. and TJ,  and JR and JR.  One table would use player shortened names like Wes and the other would use full like Wesley.

Now that we have the names and dates in the same format, we can merge the two tables on the key values "Date" and "PlayerFullName."

In [78]:
merged = pd.merge(PlayerStats, PlayerSalaries, how="inner", on=["Date", "PlayerFullName"])

In [79]:
merged

,PlayerFullName,PlayerName,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,...,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,Unnamed: 0_y,DK Sal,Minutes,First Last
0,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,False,False,0.0,0,11.75,37683,3000,13.650000,Precious Achiuwa
1,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,False,False,0.0,0,11.75,37683,3000,13.650000,Precious Achiuwa
2,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,0,False,False,0.0,0,19.25,37682,3000,19.466667,Precious Achiuwa
3,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,0,False,False,0.0,0,19.25,37682,3000,19.466667,Precious Achiuwa
4,PreciousAchiuwa,Precious Achiuwa,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,...,0,False,False,0.0,0,16.00,37681,3100,17.633333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21942,DanteExum,Dante Exum,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,...,0,False,False,0.0,0,23.50,35519,3000,23.083333,Dante Exum
21943,DanteExum,Dante Exum,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,...,0,False,False,0.0,0,7.75,35518,3300,16.216667,Dante Exum
21944,DanteExum,Dante Exum,4,5,4,2020-12-31,25-171,CLE,@,IND,...,0,False,False,0.0,0,14.00,35517,3400,28.266667,Dante Exum
21945,DanteExum,Dante Exum,5,6,5,2021-01-02,25-173,CLE,@,ATL,...,0,False,False,0.0,0,14.75,35516,3600,34.616667,Dante Exum
21946,DanteExum,Dante Exum,6,7,6,2021-01-04,25-175,CLE,@,ORL,...,0,False,False,0.0,0,-0.50,35515,3900,0.816667,Dante Exum

In [80]:

merged2=merged[merged['Date'] < '2021-05-22']

In [81]:
merged2

,PlayerFullName,PlayerName,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,...,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,Unnamed: 0_y,DK Sal,Minutes,First Last
0,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,False,False,0.0,0,11.75,37683,3000,13.650000,Precious Achiuwa
1,PreciousAchiuwa,Precious Achiuwa,0,1,1,2020-12-23,21-095,MIA,@,ORL,...,0,False,False,0.0,0,11.75,37683,3000,13.650000,Precious Achiuwa
2,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,0,False,False,0.0,0,19.25,37682,3000,19.466667,Precious Achiuwa
3,PreciousAchiuwa,Precious Achiuwa,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,...,0,False,False,0.0,0,19.25,37682,3000,19.466667,Precious Achiuwa
4,PreciousAchiuwa,Precious Achiuwa,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,...,0,False,False,0.0,0,16.00,37681,3100,17.633333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21942,DanteExum,Dante Exum,2,3,2,2020-12-27,25-167,CLE,NaN,PHI,...,0,False,False,0.0,0,23.50,35519,3000,23.083333,Dante Exum
21943,DanteExum,Dante Exum,3,4,3,2020-12-29,25-169,CLE,NaN,NYK,...,0,False,False,0.0,0,7.75,35518,3300,16.216667,Dante Exum
21944,DanteExum,Dante Exum,4,5,4,2020-12-31,25-171,CLE,@,IND,...,0,False,False,0.0,0,14.00,35517,3400,28.266667,Dante Exum
21945,DanteExum,Dante Exum,5,6,5,2021-01-02,25-173,CLE,@,ATL,...,0,False,False,0.0,0,14.75,35516,3600,34.616667,Dante Exum
21946,DanteExum,Dante Exum,6,7,6,2021-01-04,25-175,CLE,@,ORL,...,0,False,False,0.0,0,-0.50,35515,3900,0.816667,Dante Exum

In [82]:
merged3=merged2.loc[((merged2['Minutes'] != 0))]

In [83]:
merged3.to_csv("MergedStatsAndSalaries.csv")