In [105]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import array
import numpy as np

In [106]:
PlayerStats = pd.read_csv("LookingGood.csv")

In [107]:
PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,Precious Achiuwa
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,Precious Achiuwa
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,Precious Achiuwa
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,Precious Achiuwa
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,2021-05-09,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,Ivica Zubac
18986,71,69,69,2021-05-11,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,Ivica Zubac
18987,72,70,70,2021-05-13,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,Ivica Zubac
18988,73,71,71,2021-05-14,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,Ivica Zubac
18989,74,72,72,2021-05-16,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,Ivica Zubac

In [194]:
PlayerSalaries = pd.read_csv("DK Salary Table - DK Salary Table.csv")
PlayerSalaries

       Unnamed: 0  DK Sal    Minutes          First  Last        Date
0               0    3200   2.866667         Drew Eubanks  2021-05-19
1               1    3400   8.650000         Drew Eubanks  2021-05-16
2               2    3100  22.966667         Drew Eubanks  2021-05-15
3               3    3200  13.450000         Drew Eubanks  2021-05-13
4               4    3200  13.666667         Drew Eubanks  2021-05-12
...           ...     ...        ...                  ...         ...
37053       38759    3200  11.733333  Willie Cauley-Stein  2021-01-03
37054       38760    3200  11.100000  Willie Cauley-Stein  2021-01-01
37055       38761    3300   9.350000  Willie Cauley-Stein  2020-12-30
37056       38763    3000  14.083333  Willie Cauley-Stein  2020-12-25
37057       38764    3000   6.033333  Willie Cauley-Stein  2020-12-23

[37058 rows x 5 columns]

In [195]:
PlayerStats

PlayerStats.Date = pd.to_datetime(PlayerStats.Date)
#PlayerSalaries.Date = pd.to_datetime(PlayerSalaries.Date)

ParserError: Unknown string format: 1.6086816e+18

In [133]:
#PlayerStats['Date'] = PlayerStats['Date'].str.replace('-','')

In [134]:
PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,Precious Achiuwa
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,Precious Achiuwa
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,Precious Achiuwa
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,Precious Achiuwa
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,2021-05-09,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,Ivica Zubac
18986,71,69,69,2021-05-11,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,Ivica Zubac
18987,72,70,70,2021-05-13,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,Ivica Zubac
18988,73,71,71,2021-05-14,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,Ivica Zubac
18989,74,72,72,2021-05-16,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,Ivica Zubac

In [135]:
#PlayerStats["Date"] = pd.to_numeric(PlayerStats["Date"], errors='coerce')

In [136]:
#PlayerSalaries['Date'] = pd.to_datetime(PlayerSalaries['Date'])

#PlayerSalaries['Date'] = pd.to_datetime(PlayerSalaries['Date']).dt.date



PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,Precious Achiuwa
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,Precious Achiuwa
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,Precious Achiuwa
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,Precious Achiuwa
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,2021-05-09,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,Ivica Zubac
18986,71,69,69,2021-05-11,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,Ivica Zubac
18987,72,70,70,2021-05-13,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,Ivica Zubac
18988,73,71,71,2021-05-14,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,Ivica Zubac
18989,74,72,72,2021-05-16,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,Ivica Zubac

In [137]:
#PlayerSalaries["Date"] = pd.to_numeric(PlayerSalaries["Date"], errors='coerce')

In [155]:
PlayerSalaries.dtypes

PlayerSalaries = PlayerSalaries[PlayerSalaries['Date'] != 20210400]
PlayerSalaries = PlayerSalaries[PlayerSalaries['Date'] != 20210600]
PlayerSalaries = PlayerSalaries[PlayerSalaries['Date'] != 20210700]
PlayerSalaries = PlayerSalaries[PlayerSalaries['Date'] != 20210500]





PlayerSalaries['Date'] = pd.to_datetime(PlayerSalaries['Date'], format='%Y%m%d')

ValueError: unconverted data remains: 2

In [156]:
#PlayerSalaries["NewDate"]=PlayerSalaries['Date"]
PlayerStats["Date"] = pd.to_numeric(PlayerStats["Date"], downcast="float")
PlayerSalaries["Date"] = pd.to_numeric(PlayerSalaries["Date"], downcast="float")
PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,1.608682e+18,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,Precious Achiuwa
1,1,2,2,1.608854e+18,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,Precious Achiuwa
2,2,3,3,1.609200e+18,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,Precious Achiuwa
3,3,4,4,1.609286e+18,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,Precious Achiuwa
4,4,5,5,1.609459e+18,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,1.620518e+18,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,Ivica Zubac
18986,71,69,69,1.620691e+18,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,Ivica Zubac
18987,72,70,70,1.620864e+18,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,Ivica Zubac
18988,73,71,71,1.620950e+18,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,Ivica Zubac
18989,74,72,72,1.621123e+18,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,Ivica Zubac

In [157]:
#PlayerSalaries['Date'] = PlayerSalaries["Date"].index.astype(str).str[4:8]
PlayerSalaries

       Unnamed: 0  DK Sal    Minutes        Date          First  Last
0               0  3200.0   2.866667  20210520.0         Drew Eubanks
1               1  3400.0   8.650000  20210516.0         Drew Eubanks
2               2  3100.0  22.966667  20210516.0         Drew Eubanks
3               3  3200.0  13.450000  20210512.0         Drew Eubanks
4               4  3200.0  13.666667  20210512.0         Drew Eubanks
...           ...     ...        ...         ...                  ...
37008       38714  3000.0   0.000000  20210408.0  Willie Cauley-Stein
37009       38715  3000.0   0.000000  20210408.0  Willie Cauley-Stein
37010       38716  3000.0   0.000000  20210404.0  Willie Cauley-Stein
37011       38717  3000.0   0.000000  20210404.0  Willie Cauley-Stein
37012       38718  3000.0   0.000000  20210402.0  Willie Cauley-Stein

[13686 rows x 5 columns]

In [182]:
PlayerSalaries["PlayerFullName"]=PlayerSalaries["First  Last"]

In [183]:
PlayerSalaries

,Unnamed: 0,DK Sal,Minutes,Date,First Last,PlayerFullName
0,0,3200.0,2.866667,20210520.0,Drew Eubanks,Drew Eubanks
1,1,3400.0,8.650000,20210516.0,Drew Eubanks,Drew Eubanks
2,2,3100.0,22.966667,20210516.0,Drew Eubanks,Drew Eubanks
3,3,3200.0,13.450000,20210512.0,Drew Eubanks,Drew Eubanks
4,4,3200.0,13.666667,20210512.0,Drew Eubanks,Drew Eubanks
...,...,...,...,...,...,...
37008,38714,3000.0,0.000000,20210408.0,Willie Cauley-Stein,Willie Cauley-Stein
37009,38715,3000.0,0.000000,20210408.0,Willie Cauley-Stein,Willie Cauley-Stein
37010,38716,3000.0,0.000000,20210404.0,Willie Cauley-Stein,Willie Cauley-Stein
37011,38717,3000.0,0.000000,20210404.0,Willie Cauley-Stein,Willie Cauley-Stein
37012,38718,3000.0,0.000000,20210402.0,Willie Cauley-Stein,Willie Cauley-Stein

In [162]:
#del PlayerSalaries["First  Last"]
PlayerSalaries["DK Sal"] = pd.to_numeric(PlayerSalaries["DK Sal"], downcast="float")

In [163]:
PlayerSalaries

       Unnamed: 0  DK Sal    Minutes        Date          First  Last
0               0  3200.0   2.866667  20210520.0         Drew Eubanks
1               1  3400.0   8.650000  20210516.0         Drew Eubanks
2               2  3100.0  22.966667  20210516.0         Drew Eubanks
3               3  3200.0  13.450000  20210512.0         Drew Eubanks
4               4  3200.0  13.666667  20210512.0         Drew Eubanks
...           ...     ...        ...         ...                  ...
37008       38714  3000.0   0.000000  20210408.0  Willie Cauley-Stein
37009       38715  3000.0   0.000000  20210408.0  Willie Cauley-Stein
37010       38716  3000.0   0.000000  20210404.0  Willie Cauley-Stein
37011       38717  3000.0   0.000000  20210404.0  Willie Cauley-Stein
37012       38718  3000.0   0.000000  20210402.0  Willie Cauley-Stein

[13686 rows x 5 columns]

In [164]:
PlayerSalaries["PlayerFullName"] = PlayerSalaries["PlayerFullName"].astype(str)
#PlayerSalaries
PlayerSalaries["Date"] = PlayerSalaries["Date"].astype(str)
PlayerSalaries

KeyError: 'PlayerFullName'

In [165]:
PlayerStats["PlayerFullName"] = PlayerStats["PlayerFullName"].astype(str)
PlayerStats["Date"] = PlayerStats["Date"].astype(str)
PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,1.6086816e+18,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,Precious Achiuwa
1,1,2,2,1.6088543e+18,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,Precious Achiuwa
2,2,3,3,1.6092e+18,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,Precious Achiuwa
3,3,4,4,1.6092865e+18,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,Precious Achiuwa
4,4,5,5,1.6094592e+18,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,1.6205184e+18,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,Ivica Zubac
18986,71,69,69,1.6206911e+18,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,Ivica Zubac
18987,72,70,70,1.620864e+18,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,Ivica Zubac
18988,73,71,71,1.6209503e+18,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,Ivica Zubac
18989,74,72,72,1.6211232e+18,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,Ivica Zubac

In [166]:
#Blended=pd.merge(PlayerStats, PlayerSalaries, on=["PlayerFullName","Date"])

In [167]:
#Blended

In [168]:
outer_merged = pd.merge(PlayerStats, PlayerSalaries, how="outer", on=["PlayerFullName", "Date"])
outer_merged.head()
outer_merged.shape


#new_df = pd.merge(PlayerStats, PlayerSalaries,  how='left', left_on=['Date','PlayerFullName','DK Sal'], right_on = ['Date','PlayerFullName','DK Sal'])

KeyError: 'PlayerFullName'

In [169]:
outer_merged

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,20201224.0,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,Precious Achiuwa,NaN,NaN,NaN,NaN
1,1.0,2.0,2.0,20201224.0,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,Precious Achiuwa,NaN,NaN,NaN,NaN
2,2.0,3.0,3.0,20201228.0,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,Precious Achiuwa,NaN,NaN,NaN,NaN
3,3.0,4.0,4.0,20201230.0,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,Precious Achiuwa,NaN,NaN,NaN,NaN
4,4.0,5.0,5.0,20210100.0,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,Precious Achiuwa,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56043,NaN,NaN,NaN,20210104.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38759.0,3200.0,11.733333,Willie Cauley-Stein
56044,NaN,NaN,NaN,20210100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38760.0,3200.0,11.100000,Willie Cauley-Stein
56045,NaN,NaN,NaN,20201230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38761.0,3300.0,9.350000,Willie Cauley-Stein
56046,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38763.0,3000.0,14.083333,Willie Cauley-Stein
56047,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38764.0,3000.0,6.033333,Willie Cauley-Stein

In [170]:
outer_merged.to_csv('Outer_merged.csv')

In [171]:
#Blended.iloc[2]['PlayerFullName_x']

In [172]:
#Blended.iloc[2]['PlayerFullName_y']

In [173]:
inner_joined_total = PlayerStats.join(
    PlayerSalaries.set_index(["PlayerFullName", "Date"]),
    lsuffix="_x",
    rsuffix="_y",
    on=["PlayerFullName", "Date"])

KeyError: "None of ['PlayerFullName'] are in the columns"

In [174]:
inner_joined_total

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0,1,1,20201224.0,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0,11.75,Precious Achiuwa,NaN,NaN,NaN,NaN
1,1,2,2,20201224.0,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0,19.25,Precious Achiuwa,NaN,NaN,NaN,NaN
2,2,3,3,20201228.0,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0,16.00,Precious Achiuwa,NaN,NaN,NaN,NaN
3,3,4,4,20201230.0,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0,6.75,Precious Achiuwa,NaN,NaN,NaN,NaN
4,4,5,5,20210100.0,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0,18.50,Precious Achiuwa,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,20210508.0,24-052,LAC,NaN,NYK,L (-6),1.0,...,False,False,0.0,0,17.50,Ivica Zubac,NaN,NaN,NaN,NaN
18986,71,69,69,20210512.0,24-054,LAC,@,TOR,W (+19),1.0,...,True,False,1.5,0,38.50,Ivica Zubac,NaN,NaN,NaN,NaN
18987,72,70,70,20210512.0,24-056,LAC,@,CHO,W (+23),1.0,...,False,False,0.0,0,25.75,Ivica Zubac,NaN,NaN,NaN,NaN
18988,73,71,71,20210514.0,24-057,LAC,@,HOU,L (-7),1.0,...,False,False,0.0,0,5.00,Ivica Zubac,NaN,NaN,NaN,NaN
18989,74,72,72,20210516.0,24-059,LAC,@,OKC,L (-5),1.0,...,False,False,0.0,0,0.00,Ivica Zubac,NaN,NaN,NaN,NaN

In [190]:
hmm=pd.merge(PlayerStats, PlayerSalaries, on=['PlayerFullName', 'Date'], how="outer")

TypeError: merge() got an unexpected keyword argument 'ignore_index'

In [176]:
hmm

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,20201224.0,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,Precious Achiuwa,NaN,NaN,NaN,NaN
1,1.0,2.0,2.0,20201224.0,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,Precious Achiuwa,NaN,NaN,NaN,NaN
2,2.0,3.0,3.0,20201228.0,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,Precious Achiuwa,NaN,NaN,NaN,NaN
3,3.0,4.0,4.0,20201230.0,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,Precious Achiuwa,NaN,NaN,NaN,NaN
4,4.0,5.0,5.0,20210100.0,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,Precious Achiuwa,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56043,NaN,NaN,NaN,20210104.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38759.0,3200.0,11.733333,Willie Cauley-Stein
56044,NaN,NaN,NaN,20210100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38760.0,3200.0,11.100000,Willie Cauley-Stein
56045,NaN,NaN,NaN,20201230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38761.0,3300.0,9.350000,Willie Cauley-Stein
56046,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38763.0,3000.0,14.083333,Willie Cauley-Stein
56047,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38764.0,3000.0,6.033333,Willie Cauley-Stein

In [177]:
#df3 = pd.merge(PlayerStats, PlayerSalaries, how='outer', indicator='Exist')
#df3 = df3.loc[df3['Exist'] != 'both']

df3 = pd.merge(PlayerStats, PlayerSalaries, on=['PlayerFullName', 'Date'], how='left', indicator='Exist')
df3 = df3.loc[df3['Exist'] != 'both']


# If you like to filter by a common ID
#df3  = pd.merge(df1, df2, on="Fruit", how='outer', indicator='Exist')
#df3  = df3.loc[df3['Exist'] != 'both']

KeyError: 'PlayerFullName'

In [178]:
df3

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last,Exist
0,NaN,NaN,NaN,20210520.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,0,3200.0,2.866667,Drew Eubanks,right_only
1,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,1,3400.0,8.650000,Drew Eubanks,right_only
2,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,2,3100.0,22.966667,Drew Eubanks,right_only
3,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,3,3200.0,13.450000,Drew Eubanks,right_only
4,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,4,3200.0,13.666667,Drew Eubanks,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37053,NaN,NaN,NaN,20210104.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38759,3200.0,11.733333,Willie Cauley-Stein,right_only
37054,NaN,NaN,NaN,20210100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38760,3200.0,11.100000,Willie Cauley-Stein,right_only
37055,NaN,NaN,NaN,20201230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38761,3300.0,9.350000,Willie Cauley-Stein,right_only
37056,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38763,3000.0,14.083333,Willie Cauley-Stein,right_only
37057,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38764,3000.0,6.033333,Willie Cauley-Stein,right_only

In [180]:
PlayerSalaries.set_index(['Date', 'PlayerFullName'])

KeyError: "None of ['First. Last'] are in the columns"

In [94]:
PlayerStats.set_index(['Date', 'PlayerFullName'])

                              Unnamed: 0  Rk   G     Age   Tm Unnamed: 5  Opp  \
Date       PlayerFullName
20201224.0 Precious Achiuwa            0   1   1  21-095  MIA          @  ORL
           Precious Achiuwa            1   2   2  21-097  MIA        NaN  NOP
20201228.0 Precious Achiuwa            2   3   3  21-101  MIA        NaN  MIL
20201230.0 Precious Achiuwa            3   4   4  21-102  MIA        NaN  MIL
20210100.0 Precious Achiuwa            4   5   5  21-104  MIA          @  DAL
...                                  ...  ..  ..     ...  ...        ...  ...
20210508.0 Ivica Zubac                70  68  68  24-052  LAC        NaN  NYK
20210512.0 Ivica Zubac                71  69  69  24-054  LAC          @  TOR
           Ivica Zubac                72  70  70  24-056  LAC          @  CHO
20210514.0 Ivica Zubac                73  71  71  24-057  LAC          @  HOU
20210516.0 Ivica Zubac                74  72  72  24-059  LAC          @  OKC

                             Unnamed: 7   GS  MP  ...  DoubleDigitPoints  \
Date       PlayerFullName                         ...
20201224.0 Precious Achiuwa      L (-6)  0.0 NaN  ...                  0
           Precious Achiuwa     W (+13)  0.0 NaN  ...                  1
20201228.0 Precious Achiuwa     L (-47)  0.0 NaN  ...                  1
20201230.0 Precious Achiuwa     W (+11)  0.0 NaN  ...                  0
20210100.0 Precious Achiuwa     L (-10)  0.0 NaN  ...                  1
...                                 ...  ...  ..  ...                ...
20210508.0 Ivica Zubac           L (-6)  1.0 NaN  ...                  0
20210512.0 Ivica Zubac          W (+19)  1.0 NaN  ...                  1
           Ivica Zubac          W (+23)  1.0 NaN  ...                  0
20210514.0 Ivica Zubac           L (-7)  1.0 NaN  ...                  0
20210516.0 Ivica Zubac           L (-5)  1.0 NaN  ...                  0

                              DoubleDigitAssists  DoubleDigitRebounds  \
Date       PlayerFullName
20201224.0 Precious Achiuwa                    0                    0
           Precious Achiuwa                    0                    0
20201228.0 Precious Achiuwa                    0                    0
20201230.0 Precious Achiuwa                    0                    0
20210100.0 Precious Achiuwa                    0                    0
...                                          ...                  ...
20210508.0 Ivica Zubac                         0                    0
20210512.0 Ivica Zubac                         0                    1
           Ivica Zubac                         0                    1
20210514.0 Ivica Zubac                         0                    0
20210516.0 Ivica Zubac                         0                    0

                              DoubleDigitSteals  DoubleDigitBlocks  \
Date       PlayerFullName
20201224.0 Precious Achiuwa                   0                  0
           Precious Achiuwa                   0                  0
20201228.0 Precious Achiuwa                   0                  0
20201230.0 Precious Achiuwa                   0                  0
20210100.0 Precious Achiuwa                   0                  0
...                                         ...                ...
20210508.0 Ivica Zubac                        0                  0
20210512.0 Ivica Zubac                        0                  0
           Ivica Zubac                        0                  0
20210514.0 Ivica Zubac                        0                  0
20210516.0 Ivica Zubac                        0                  0

                              DoubleDouble  TripleDouble  DDPoints  TDPoints  \
Date       PlayerFullName
20201224.0 Precious Achiuwa          False         False       0.0         0
           Precious Achiuwa          False         False       0.0         0
20201228.0 Precious Achiuwa          False         False       0.0         0
20201230.0 Precious Achiuwa          False         False       0.0         0
20210100.0 Precious Achiuwa          False         False       0.0         0
...                                    ...           ...       ...       ...
20210508.0 Ivica Zubac               False         False       0.0         0
20210512.0 Ivica Zubac                True         False       1.5         0
           Ivica Zubac               False         False       0.0         0
20210514.0 Ivica Zubac               False         False       0.0         0
20210516.0 Ivica Zubac               False         False       0.0         0

                              DraftKingTotals
Date       PlayerFullName
20201224.0 Precious Achiuwa             11.75
           Precious Achiuwa             19.25
20201228.0 Precious Achiuwa             16.00
20201230.0 Precious Achiuwa              6.75
20210100.0 Precious Achiuwa             18.50
...                                       ...
20210508.0 Ivica Zubac                  17.50
20210512.0 Ivica Zubac                  38.50
           Ivica Zubac                  25.75
20210514.0 Ivica Zubac                   5.00
20210516.0 Ivica Zubac                   0.00

[18990 rows x 42 columns]

In [189]:
df3 = pd.merge(PlayerStats, PlayerSalaries, on=['PlayerFullName', 'Date'], how='right', indicator='Exist', ignore_index= True)
df3 = df3.loc[df3['Exist'] != 'both']

TypeError: merge() got an unexpected keyword argument 'ignore_index'

In [102]:
df3

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last,Exist
0,NaN,NaN,NaN,20210520.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,0,3200.0,2.866667,Drew Eubanks,right_only
1,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,1,3400.0,8.650000,Drew Eubanks,right_only
2,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,2,3100.0,22.966667,Drew Eubanks,right_only
3,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,3,3200.0,13.450000,Drew Eubanks,right_only
4,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,4,3200.0,13.666667,Drew Eubanks,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37053,NaN,NaN,NaN,20210104.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38759,3200.0,11.733333,Willie Cauley-Stein,right_only
37054,NaN,NaN,NaN,20210100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38760,3200.0,11.100000,Willie Cauley-Stein,right_only
37055,NaN,NaN,NaN,20201230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38761,3300.0,9.350000,Willie Cauley-Stein,right_only
37056,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38763,3000.0,14.083333,Willie Cauley-Stein,right_only
37057,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38764,3000.0,6.033333,Willie Cauley-Stein,right_only

In [181]:
PlayerSalaries.set_index(['Date'])

            Unnamed: 0  DK Sal    Minutes          First  Last
Date
20210520.0           0  3200.0   2.866667         Drew Eubanks
20210516.0           1  3400.0   8.650000         Drew Eubanks
20210516.0           2  3100.0  22.966667         Drew Eubanks
20210512.0           3  3200.0  13.450000         Drew Eubanks
20210512.0           4  3200.0  13.666667         Drew Eubanks
...                ...     ...        ...                  ...
20210408.0       38714  3000.0   0.000000  Willie Cauley-Stein
20210408.0       38715  3000.0   0.000000  Willie Cauley-Stein
20210404.0       38716  3000.0   0.000000  Willie Cauley-Stein
20210404.0       38717  3000.0   0.000000  Willie Cauley-Stein
20210402.0       38718  3000.0   0.000000  Willie Cauley-Stein

[13686 rows x 4 columns]

In [184]:
PlayerSalaries["PlayerFullName"]=PlayerSalaries["First  Last"]

In [185]:
PlayerSalaries

,Unnamed: 0,DK Sal,Minutes,Date,First Last,PlayerFullName
0,0,3200.0,2.866667,20210520.0,Drew Eubanks,Drew Eubanks
1,1,3400.0,8.650000,20210516.0,Drew Eubanks,Drew Eubanks
2,2,3100.0,22.966667,20210516.0,Drew Eubanks,Drew Eubanks
3,3,3200.0,13.450000,20210512.0,Drew Eubanks,Drew Eubanks
4,4,3200.0,13.666667,20210512.0,Drew Eubanks,Drew Eubanks
...,...,...,...,...,...,...
37008,38714,3000.0,0.000000,20210408.0,Willie Cauley-Stein,Willie Cauley-Stein
37009,38715,3000.0,0.000000,20210408.0,Willie Cauley-Stein,Willie Cauley-Stein
37010,38716,3000.0,0.000000,20210404.0,Willie Cauley-Stein,Willie Cauley-Stein
37011,38717,3000.0,0.000000,20210404.0,Willie Cauley-Stein,Willie Cauley-Stein
37012,38718,3000.0,0.000000,20210402.0,Willie Cauley-Stein,Willie Cauley-Stein

In [188]:
PlayerSalaries1=PlayerSalaries.set_index(['Date'])
PlayerSalaries1

,Unnamed: 0,DK Sal,Minutes,First Last,PlayerFullName
Date,,,,,
20210520.0,0,3200.0,2.866667,Drew Eubanks,Drew Eubanks
20210516.0,1,3400.0,8.650000,Drew Eubanks,Drew Eubanks
20210516.0,2,3100.0,22.966667,Drew Eubanks,Drew Eubanks
20210512.0,3,3200.0,13.450000,Drew Eubanks,Drew Eubanks
20210512.0,4,3200.0,13.666667,Drew Eubanks,Drew Eubanks
...,...,...,...,...,...
20210408.0,38714,3000.0,0.000000,Willie Cauley-Stein,Willie Cauley-Stein
20210408.0,38715,3000.0,0.000000,Willie Cauley-Stein,Willie Cauley-Stein
20210404.0,38716,3000.0,0.000000,Willie Cauley-Stein,Willie Cauley-Stein
20210404.0,38717,3000.0,0.000000,Willie Cauley-Stein,Willie Cauley-Stein
20210402.0,38718,3000.0,0.000000,Willie Cauley-Stein,Willie Cauley-Stein

In [159]:
PlayerStats[PlayerSalaries, on =c('Date','PlayerFullName')]

SyntaxError: invalid syntax (<ipython-input-159-1425f681e4e7>, line 1)

In [191]:
df3=df3.reset_index(drop=True)

In [192]:
df3

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last,Exist
0,NaN,NaN,NaN,20210520.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,0,3200.0,2.866667,Drew Eubanks,right_only
1,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,1,3400.0,8.650000,Drew Eubanks,right_only
2,NaN,NaN,NaN,20210516.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,2,3100.0,22.966667,Drew Eubanks,right_only
3,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,3,3200.0,13.450000,Drew Eubanks,right_only
4,NaN,NaN,NaN,20210512.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Drew Eubanks,4,3200.0,13.666667,Drew Eubanks,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37053,NaN,NaN,NaN,20210104.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38759,3200.0,11.733333,Willie Cauley-Stein,right_only
37054,NaN,NaN,NaN,20210100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38760,3200.0,11.100000,Willie Cauley-Stein,right_only
37055,NaN,NaN,NaN,20201230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38761,3300.0,9.350000,Willie Cauley-Stein,right_only
37056,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38763,3000.0,14.083333,Willie Cauley-Stein,right_only
37057,NaN,NaN,NaN,20201224.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Willie Cauley-Stein,38764,3000.0,6.033333,Willie Cauley-Stein,right_only