In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import array
import numpy as np
from datetime import datetime

In [2]:
PlayerStats = pd.read_csv("LookingGood.csv")

#PlayerStats=PlayerStats.set_index(['Date', 'PlayerFullName'])
#PlayerStats

In [3]:
PlayerStats.dtypes

Unnamed: 0               int64
Rk                       int64
G                        int64
Date                    object
Age                     object
Tm                      object
Unnamed: 5              object
Opp                     object
Unnamed: 7              object
GS                     float64
MP                     float64
FG                     float64
FGA                    float64
FG%                    float64
3P                     float64
3PA                    float64
3P%                    float64
FT                     float64
FTA                    float64
FT%                    float64
ORB                    float64
DRB                    float64
TRB                    float64
AST                    float64
STL                    float64
BLK                    float64
TOV                    float64
PF                     float64
PTS                    float64
GmSc                   float64
+/-                    float64
PlayerName              object
summation              float64
DoubleDigitPoints        int64
DoubleDigitAssists       int64
DoubleDigitRebounds      int64
DoubleDigitSteals        int64
DoubleDigitBlocks        int64
DoubleDouble              bool
TripleDouble              bool
DDPoints               float64
TDPoints                 int64
DraftKingTotals        float64
PlayerFullName          object
dtype: object

In [4]:
PlayerStats['Date']=pd.to_datetime(PlayerStats['Date'])

In [5]:
PlayerStats["PlayerFullName"] = PlayerStats["PlayerFullName"].astype(str)
PlayerStats.dtypes

Unnamed: 0                      int64
Rk                              int64
G                               int64
Date                   datetime64[ns]
Age                            object
Tm                             object
Unnamed: 5                     object
Opp                            object
Unnamed: 7                     object
GS                            float64
MP                            float64
FG                            float64
FGA                           float64
FG%                           float64
3P                            float64
3PA                           float64
3P%                           float64
FT                            float64
FTA                           float64
FT%                           float64
ORB                           float64
DRB                           float64
TRB                           float64
AST                           float64
STL                           float64
BLK                           float64
TOV                           float64
PF                            float64
PTS                           float64
GmSc                          float64
+/-                           float64
PlayerName                     object
summation                     float64
DoubleDigitPoints               int64
DoubleDigitAssists              int64
DoubleDigitRebounds             int64
DoubleDigitSteals               int64
DoubleDigitBlocks               int64
DoubleDouble                     bool
TripleDouble                     bool
DDPoints                      float64
TDPoints                        int64
DraftKingTotals               float64
PlayerFullName                 object
dtype: object

In [6]:

PlayerStats['PlayerFullName'].str.strip()

0        Precious Achiuwa
1        Precious Achiuwa
2        Precious Achiuwa
3        Precious Achiuwa
4        Precious Achiuwa
               ...
18985         Ivica Zubac
18986         Ivica Zubac
18987         Ivica Zubac
18988         Ivica Zubac
18989         Ivica Zubac
Name: PlayerFullName, Length: 18990, dtype: object

In [7]:
#PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].str.encode('utf-8')
PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].str.replace(' ', '')

In [8]:
#PlayerStats=PlayerStats.set_index(['Date', 'PlayerFullName'])
PlayerStats

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDigitAssists,DoubleDigitRebounds,DoubleDigitSteals,DoubleDigitBlocks,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName
0,0,1,1,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,0,0,0,0,False,False,0.0,0,11.75,PreciousAchiuwa
1,1,2,2,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,0,0,0,0,False,False,0.0,0,19.25,PreciousAchiuwa
2,2,3,3,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,0,0,0,0,False,False,0.0,0,16.00,PreciousAchiuwa
3,3,4,4,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,0,0,0,0,False,False,0.0,0,6.75,PreciousAchiuwa
4,4,5,5,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,0,0,0,0,False,False,0.0,0,18.50,PreciousAchiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,70,68,68,2021-05-09,24-052,LAC,NaN,NYK,L (-6),1.0,...,0,0,0,0,False,False,0.0,0,17.50,IvicaZubac
18986,71,69,69,2021-05-11,24-054,LAC,@,TOR,W (+19),1.0,...,0,1,0,0,True,False,1.5,0,38.50,IvicaZubac
18987,72,70,70,2021-05-13,24-056,LAC,@,CHO,W (+23),1.0,...,0,1,0,0,False,False,0.0,0,25.75,IvicaZubac
18988,73,71,71,2021-05-14,24-057,LAC,@,HOU,L (-7),1.0,...,0,0,0,0,False,False,0.0,0,5.00,IvicaZubac
18989,74,72,72,2021-05-16,24-059,LAC,@,OKC,L (-5),1.0,...,0,0,0,0,False,False,0.0,0,0.00,IvicaZubac

In [49]:
PlayerStats.to_csv("CheckAll.csv")

In [9]:
#PlayerStats['PlayerFullName'] = PlayerStats['PlayerFullName'].str.replace(' ', '')

In [10]:
PlayerSalaries = pd.read_csv("DK Salary Table - DK Salary Table.csv")
PlayerSalaries

       Unnamed: 0  DK Sal    Minutes          First  Last        Date
0               0    3200   2.866667         Drew Eubanks  2021-05-19
1               1    3400   8.650000         Drew Eubanks  2021-05-16
2               2    3100  22.966667         Drew Eubanks  2021-05-15
3               3    3200  13.450000         Drew Eubanks  2021-05-13
4               4    3200  13.666667         Drew Eubanks  2021-05-12
...           ...     ...        ...                  ...         ...
37053       38759    3200  11.733333  Willie Cauley-Stein  2021-01-03
37054       38760    3200  11.100000  Willie Cauley-Stein  2021-01-01
37055       38761    3300   9.350000  Willie Cauley-Stein  2020-12-30
37056       38763    3000  14.083333  Willie Cauley-Stein  2020-12-25
37057       38764    3000   6.033333  Willie Cauley-Stein  2020-12-23

[37058 rows x 5 columns]

In [11]:
PlayerSalaries['Date'] = pd.to_datetime(PlayerSalaries['Date'], format='%Y-%m-%d')
PlayerSalaries["PlayerFullName"]=PlayerSalaries["First  Last"]

In [12]:
PlayerSalaries

,Unnamed: 0,DK Sal,Minutes,First Last,Date,PlayerFullName
0,0,3200,2.866667,Drew Eubanks,2021-05-19,Drew Eubanks
1,1,3400,8.650000,Drew Eubanks,2021-05-16,Drew Eubanks
2,2,3100,22.966667,Drew Eubanks,2021-05-15,Drew Eubanks
3,3,3200,13.450000,Drew Eubanks,2021-05-13,Drew Eubanks
4,4,3200,13.666667,Drew Eubanks,2021-05-12,Drew Eubanks
...,...,...,...,...,...,...
37053,38759,3200,11.733333,Willie Cauley-Stein,2021-01-03,Willie Cauley-Stein
37054,38760,3200,11.100000,Willie Cauley-Stein,2021-01-01,Willie Cauley-Stein
37055,38761,3300,9.350000,Willie Cauley-Stein,2020-12-30,Willie Cauley-Stein
37056,38763,3000,14.083333,Willie Cauley-Stein,2020-12-25,Willie Cauley-Stein
37057,38764,3000,6.033333,Willie Cauley-Stein,2020-12-23,Willie Cauley-Stein

In [13]:
PlayerSalaries["PlayerFullName"] = PlayerSalaries["PlayerFullName"].astype(str)

In [14]:
PlayerSalaries['PlayerFullName'].str.strip()

0               Drew Eubanks
1               Drew Eubanks
2               Drew Eubanks
3               Drew Eubanks
4               Drew Eubanks
                ...
37053    Willie Cauley-Stein
37054    Willie Cauley-Stein
37055    Willie Cauley-Stein
37056    Willie Cauley-Stein
37057    Willie Cauley-Stein
Name: PlayerFullName, Length: 37058, dtype: object

In [15]:
#PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].str.encode('utf-8')
PlayerSalaries['PlayerFullName'] = PlayerSalaries['PlayerFullName'].str.replace(' ', '')

In [16]:
PlayerSalaries.dtypes

Unnamed: 0                 int64
DK Sal                     int64
Minutes                  float64
First  Last               object
Date              datetime64[ns]
PlayerFullName            object
dtype: object

In [17]:
#PlayerSalaries=PlayerSalaries.set_index(['Date', 'PlayerFullName'])

In [18]:
PlayerSalaries

,Unnamed: 0,DK Sal,Minutes,First Last,Date,PlayerFullName
0,0,3200,2.866667,Drew Eubanks,2021-05-19,DrewEubanks
1,1,3400,8.650000,Drew Eubanks,2021-05-16,DrewEubanks
2,2,3100,22.966667,Drew Eubanks,2021-05-15,DrewEubanks
3,3,3200,13.450000,Drew Eubanks,2021-05-13,DrewEubanks
4,4,3200,13.666667,Drew Eubanks,2021-05-12,DrewEubanks
...,...,...,...,...,...,...
37053,38759,3200,11.733333,Willie Cauley-Stein,2021-01-03,WillieCauley-Stein
37054,38760,3200,11.100000,Willie Cauley-Stein,2021-01-01,WillieCauley-Stein
37055,38761,3300,9.350000,Willie Cauley-Stein,2020-12-30,WillieCauley-Stein
37056,38763,3000,14.083333,Willie Cauley-Stein,2020-12-25,WillieCauley-Stein
37057,38764,3000,6.033333,Willie Cauley-Stein,2020-12-23,WillieCauley-Stein

In [46]:
outer_merged = pd.merge(PlayerStats, PlayerSalaries, how="outer", on=["Date", "PlayerFullName"])
#outer_merged.head()
#outer_merged.shape
#result = pd.merge(PlayerStats, PlayerSalaries, on=["Date"])
#result


#hmm=pd.merge(PlayerStats, PlayerSalaries, on=['PlayerFullName', 'Date'], how="right")

In [48]:
outer_merged

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,PreciousAchiuwa,37683.0,3000.0,13.650000,Precious Achiuwa
1,1.0,2.0,2.0,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,PreciousAchiuwa,37682.0,3000.0,19.466667,Precious Achiuwa
2,2.0,3.0,3.0,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,PreciousAchiuwa,37681.0,3100.0,17.633333,Precious Achiuwa
3,3.0,4.0,4.0,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,PreciousAchiuwa,37680.0,3000.0,12.016667,Precious Achiuwa
4,4.0,5.0,5.0,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,PreciousAchiuwa,37679.0,3200.0,11.983333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39346,NaN,NaN,NaN,2021-03-19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38725.0,3000.0,0.000000,Willie Cauley-Stein
39347,NaN,NaN,NaN,2021-03-13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38728.0,3100.0,0.000000,Willie Cauley-Stein
39348,NaN,NaN,NaN,2021-03-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38731.0,3200.0,0.000000,Willie Cauley-Stein
39349,NaN,NaN,NaN,2021-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38740.0,3200.0,0.000000,Willie Cauley-Stein
39350,NaN,NaN,NaN,2021-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38741.0,3500.0,0.000000,Willie Cauley-Stein

In [21]:
outer_merged.to_csv("MergedData.csv")

In [22]:
#outer_merged2=outer_merged.loc[:'2021-05-22']

outer_merged2=outer_merged[outer_merged['Date'] < '2021-05-22']

In [23]:
outer_merged2

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,PreciousAchiuwa,37683.0,3000.0,13.650000,Precious Achiuwa
1,1.0,2.0,2.0,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,PreciousAchiuwa,37682.0,3000.0,19.466667,Precious Achiuwa
2,2.0,3.0,3.0,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,PreciousAchiuwa,37681.0,3100.0,17.633333,Precious Achiuwa
3,3.0,4.0,4.0,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,PreciousAchiuwa,37680.0,3000.0,12.016667,Precious Achiuwa
4,4.0,5.0,5.0,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,PreciousAchiuwa,37679.0,3200.0,11.983333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39346,NaN,NaN,NaN,2021-03-19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38725.0,3000.0,0.000000,Willie Cauley-Stein
39347,NaN,NaN,NaN,2021-03-13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38728.0,3100.0,0.000000,Willie Cauley-Stein
39348,NaN,NaN,NaN,2021-03-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38731.0,3200.0,0.000000,Willie Cauley-Stein
39349,NaN,NaN,NaN,2021-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38740.0,3200.0,0.000000,Willie Cauley-Stein
39350,NaN,NaN,NaN,2021-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38741.0,3500.0,0.000000,Willie Cauley-Stein

In [24]:
outer_merged2.to_csv("NoPlayoffData.csv")

In [25]:
outer_merged2.dtypes

Unnamed: 0_x                  float64
Rk                            float64
G                             float64
Date                   datetime64[ns]
Age                            object
Tm                             object
Unnamed: 5                     object
Opp                            object
Unnamed: 7                     object
GS                            float64
MP                            float64
FG                            float64
FGA                           float64
FG%                           float64
3P                            float64
3PA                           float64
3P%                           float64
FT                            float64
FTA                           float64
FT%                           float64
ORB                           float64
DRB                           float64
TRB                           float64
AST                           float64
STL                           float64
BLK                           float64
TOV                           float64
PF                            float64
PTS                           float64
GmSc                          float64
+/-                           float64
PlayerName                     object
summation                     float64
DoubleDigitPoints             float64
DoubleDigitAssists            float64
DoubleDigitRebounds           float64
DoubleDigitSteals             float64
DoubleDigitBlocks             float64
DoubleDouble                   object
TripleDouble                   object
DDPoints                      float64
TDPoints                      float64
DraftKingTotals               float64
PlayerFullName                 object
Unnamed: 0_y                  float64
DK Sal                        float64
Minutes                       float64
First  Last                    object
dtype: object

In [26]:
outer_merged3=outer_merged2.loc[((outer_merged2['Minutes'] != 0))]

#df = df[df.line_race != 0]

In [27]:
outer_merged3

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,PreciousAchiuwa,37683.0,3000.0,13.650000,Precious Achiuwa
1,1.0,2.0,2.0,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,PreciousAchiuwa,37682.0,3000.0,19.466667,Precious Achiuwa
2,2.0,3.0,3.0,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,PreciousAchiuwa,37681.0,3100.0,17.633333,Precious Achiuwa
3,3.0,4.0,4.0,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,PreciousAchiuwa,37680.0,3000.0,12.016667,Precious Achiuwa
4,4.0,5.0,5.0,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,PreciousAchiuwa,37679.0,3200.0,11.983333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39287,NaN,NaN,NaN,2021-01-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,TremontWaters,38528.0,3300.0,6.550000,Tremont Waters
39288,NaN,NaN,NaN,2021-01-15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,TremontWaters,38529.0,3000.0,9.000000,Tremont Waters
39291,NaN,NaN,NaN,2021-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,TremontWaters,38532.0,3000.0,24.283333,Tremont Waters
39293,NaN,NaN,NaN,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,TremontWaters,38535.0,3000.0,6.300000,Tremont Waters
39296,NaN,NaN,NaN,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,TremontWaters,38538.0,3000.0,2.500000,Tremont Waters

In [28]:
outer_merged3.to_csv("PlayingTime.csv")

In [29]:
#outer_merged.loc[outer_merged['PlayerFullName']=='MilesBridges'].to_csv('MilesB.csv')

In [30]:
#PlayerStats.loc[PlayerStats['PlayerFullName']=='LouWilliams']

In [31]:
empty_cell=outer_merged["Age"].isna()

In [32]:
empty_cell

0        False
1        False
2        False
3        False
4        False
         ...
39346     True
39347     True
39348     True
39349     True
39350     True
Name: Age, Length: 39351, dtype: bool

In [33]:
df_new = outer_merged.query[outer_merged["Age"].isna()]

TypeError: 'method' object is not subscriptable

In [34]:
df_new

NameError: name 'df_new' is not defined

In [35]:
#outer_merged.loc[:,['Age','Rk']].isnull().any(axis='columns')

In [36]:
#missing_data=outer_merged[outer_merged.filter(like='Age').isnull().any(1)]

In [37]:
#missing_data=outer_merged.Minutes>0
#missing_data
no_zeros=outer_merged[outer_merged.Minutes > 0]
no_zeros

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,PreciousAchiuwa,37683.0,3000.0,13.650000,Precious Achiuwa
1,1.0,2.0,2.0,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,PreciousAchiuwa,37682.0,3000.0,19.466667,Precious Achiuwa
2,2.0,3.0,3.0,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,PreciousAchiuwa,37681.0,3100.0,17.633333,Precious Achiuwa
3,3.0,4.0,4.0,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,PreciousAchiuwa,37680.0,3000.0,12.016667,Precious Achiuwa
4,4.0,5.0,5.0,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,PreciousAchiuwa,37679.0,3200.0,11.983333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39327,NaN,NaN,NaN,2021-06-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38688.0,3100.0,5.250000,Willie Cauley-Stein
39328,NaN,NaN,NaN,2021-05-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38689.0,3200.0,5.383333,Willie Cauley-Stein
39329,NaN,NaN,NaN,2021-05-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38690.0,3000.0,14.050000,Willie Cauley-Stein
39330,NaN,NaN,NaN,2021-05-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38691.0,3000.0,15.116667,Willie Cauley-Stein
39331,NaN,NaN,NaN,2021-05-22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38692.0,3000.0,4.133333,Willie Cauley-Stein

In [44]:

no_zeros.dropna(subset = ["DK Sal"], inplace=True)
no_zeros

<ipython-input-44-3471c2f3a2fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_zeros.dropna(subset = ["DK Sal"], inplace=True)

,Unnamed: 0_x,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DoubleDouble,TripleDouble,DDPoints,TDPoints,DraftKingTotals,PlayerFullName,Unnamed: 0_y,DK Sal,Minutes,First Last
0,0.0,1.0,1.0,2020-12-23,21-095,MIA,@,ORL,L (-6),0.0,...,False,False,0.0,0.0,11.75,PreciousAchiuwa,37683.0,3000.0,13.650000,Precious Achiuwa
1,1.0,2.0,2.0,2020-12-25,21-097,MIA,NaN,NOP,W (+13),0.0,...,False,False,0.0,0.0,19.25,PreciousAchiuwa,37682.0,3000.0,19.466667,Precious Achiuwa
2,2.0,3.0,3.0,2020-12-29,21-101,MIA,NaN,MIL,L (-47),0.0,...,False,False,0.0,0.0,16.00,PreciousAchiuwa,37681.0,3100.0,17.633333,Precious Achiuwa
3,3.0,4.0,4.0,2020-12-30,21-102,MIA,NaN,MIL,W (+11),0.0,...,False,False,0.0,0.0,6.75,PreciousAchiuwa,37680.0,3000.0,12.016667,Precious Achiuwa
4,4.0,5.0,5.0,2021-01-01,21-104,MIA,@,DAL,L (-10),0.0,...,False,False,0.0,0.0,18.50,PreciousAchiuwa,37679.0,3200.0,11.983333,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39327,NaN,NaN,NaN,2021-06-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38688.0,3100.0,5.250000,Willie Cauley-Stein
39328,NaN,NaN,NaN,2021-05-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38689.0,3200.0,5.383333,Willie Cauley-Stein
39329,NaN,NaN,NaN,2021-05-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38690.0,3000.0,14.050000,Willie Cauley-Stein
39330,NaN,NaN,NaN,2021-05-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38691.0,3000.0,15.116667,Willie Cauley-Stein
39331,NaN,NaN,NaN,2021-05-22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,WillieCauley-Stein,38692.0,3000.0,4.133333,Willie Cauley-Stein

In [45]:
no_zeros.to_csv("NoZeros.csv")

In [39]:
missing_data=outer_merged[outer_merged.filter(like='Age').isnull().any(1)]

missing_data["PlayerFullName"].unique()

array(['DrewEubanks', 'KostasAntetokounmpo', 'FrankMasonIII',
       'LouisWilliams', 'BrandonClarke', 'PatrickWilliams', 'KyrieIrving',
       'LouisKing', 'ThanasisAntetokounmpo', 'QuinnCook',
       'TimHardawayJr.', 'MosesBrown', 'TrentForrest', 'SethCurry',
       'DorianFinney-Smith', 'IsaiahStewart', 'RobinLopez',
       'NickeilAlexander-Walker', 'DejounteMurray', 'MychalMulder',
       'JuanToscano-Anderson', 'CristianoFelicio', 'AnferneeSimons',
       'TyreseMaxey', 'JamesHarden', 'BrianBowenII', 'TimFrazier',
       'BobanMarjanovic', 'JoshRichardson', 'JrueHoliday', 'ChrisClemons',
       'TyreseHaliburton', 'JoshGreen', 'DerrickWhite', 'HarryGiles',
       'JustinJackson', 'CarmeloAnthony', 'KevinDurant', 'GraysonAllen',
       'TomasSatoransky', 'RaySpalding', 'R.J.Hampton', 'LeBronJames',
       'NicolasBatum', 'DeividasSirvydis', 'JahlilOkafor',
       'OmerYurtseven', 'RondaeHollis-Jefferson', 'LaMeloBall',
       'XavierTillman', 'WenyenGabriel', 'KentBazemore', 'D.J.Wilson',
       'CamReddish', 'KillianHayes', 'NoahVonleh', 'TylerBey',
       'JustinJames', 'ImanShumpert', 'JohnWall', 'JeffGreen',
       'JeremyLamb', 'ChrisPaul', 'CassiusWinston', 'C.J.McCollum',
       'KeljinBlevins', 'ClintCapela', 'JamesNunnally', 'TeranceMann',
       'PatrickMcCaw', 'AlexLen', 'WendellCarterJr.', 'Al-FarouqAminu',
       'BismackBiyombo', 'PatrickPatterson', 'ZionWilliamson',
       'JayScrubb', 'AveryBradley', 'JoshHall', 'NicoMannion',
       'TonyBradley', 'DomantasSabonis', 'VictorOladipo',
       'NemanjaBjelica', 'DeAndreJordan', 'LauriMarkkanen',
       'JamesJohnson', 'StanleyJohnson', 'BojanBogdanovic', 'LukaSamanic',
       'GeorgeHill', 'DenzelValentine', 'LonzoBall', 'DevonDotson',
       'DeMarDeRozan', 'RudyGobert', 'MalikFitts', 'AndrewWiggins',
       'RajonRondo', 'ElijahBryant', 'TimotheLuwawu', "De'AaronFox",
       'MoritzWagner', 'JoeIngles', 'KevinPorter', 'ReggiePerry',
       "Jahmi'usRamsey", 'KillianTillie', 'GordonHayward', 'NassirLittle',
       'KevonLooney', 'TheoMaledon', 'P.J.Tucker', 'BlakeGriffin',
       'TreyLyles', 'RobertCovington', 'JeremiahMartin', 'BenSimmons',
       'JalenLecque', 'DesmondBane', 'MarcusMorris', 'TylerJohnson',
       'TraeYoung', "De'AnthonyMelton", 'JaKarrSampson', 'ColeAnthony',
       'VincentPoirier', 'PatConnaughton', 'NazReid', 'RobertWoodardII',
       'SpencerDinwiddie', 'DamionLee', 'CalebMartin', "RoyceO'Neale",
       'LaMarcusAldridge', 'TobiasHarris', 'DanielTheis',
       'WayneEllington', 'AlfonzoMcKinnie', 'IsaiahJoe', 'RobertWilliams',
       'AxelToupane', 'YutaWatanabe', 'CoryJoseph', 'ElfridPayton',
       'NorvelPelle', 'JakobPoeltl', 'KellyOubre', 'KendrickNunn',
       'ZachCollins', 'MontrezlHarrell', 'StephenCurry',
       'DonovanMitchell', 'JaysonTatum', 'JalenMcDaniels', 'AmidaBrimah',
       'DwightPowell', 'KyleKuzma', 'DevinVassell', 'TerenceDavis',
       'NathanKnight', 'TajGibson', 'PatrickBeverley', 'TylerCook',
       'TrevorAriza', 'AndreDrummond', 'SeanMcDermott',
       'GuillermoHernangomez', 'KyleAnderson', 'NikolaJokic', 'PJDozier',
       'MaxiKleber', 'TreJones', 'KeitaBates-Diop', 'UdokaAzubuike',
       'GabrielDeck', 'RayjonTucker', 'MarquesBolden', 'AnthonyDavis',
       'KristapsPorzingis', 'TalenHorton-Tucker', 'DougMcDermott',
       'BrynForbes', 'DraymondGreen', 'SergeIbaka', 'IsaacBonga',
       'DillonBrooks', 'DerrickRose', 'JustiseWinslow', 'JaMorant',
       'GoranDragic', 'DeandreAyton', 'LangstonGalloway', 'TaureanPrince',
       'ThomasBryant', 'CameronJohnson', 'JordanMcLaughlin', 'SabenLee',
       'RussellWestbrook', 'KyleGuy', 'JaredDudley', 'ChandlerHutchison',
       'RaulNeto', 'QuinndaryWeatherspoon', 'JimmyButler',
       'JustinRobinson', 'RichaunHolmes', 'BolBol', 'ChrisChiozza',
       'LandryShamet', 'BrodricThomas', 'DevontaeCacok',
       'AndersonVarejao', 'JohnHenson', 'NateDarling', 'ThonMaker',
       'JonathanIsaac', 'DanuelHouse', 'DeMarcusCousins', 'AlexCaruso',
       'JadenMcDaniels', 'DannyGreen', 'JaValeMcGee', 'JohnCollins',
       'ElijahHughes', 'AlHorford', 'DerrickJones', 'BradleyBeal',
       'JustinPatton', 'MalachiFlynn', 'DeanWade', 'MarcusSmart',
       'JustinHoliday', 'BrandonGoodwin', 'IsaiahRoby', 'AndreIguodala',
       'UdonisHaslem', 'JamalMurray', 'BuddyHield', 'MattThomas',
       'JarrettCulver', 'JaylenNowell', 'JaylenAdams', 'KevinHuerter',
       'SterlingBrown', 'RudyGay', 'CobyWhite', 'JaMychalGreen',
       'DennisSchroder', 'GregWhittington', 'DavidNwaba', 'CJElleby',
       'MamadiDiakite', 'DariusMiller', 'GeorgesNiang', 'KevinLove',
       'DerrickFavors', 'AbdelNader', 'PaulReed', 'JoshHart',
       'MichaelCarter-Williams', 'NateHinton', 'Ty-ShonAlexander',
       'NickRichards', 'GogaBitadze', 'SviatoslavMykhailiuk',
       'GarrisonMathews', 'KZOkpala', 'AustinRivers', 'MarcGasol',
       'AnthonyGill', 'TerranceFerguson', 'RyanArcidiacono',
       'D.J.Augustin', 'ArmoniBrooks', 'JuanHernangomez', 'ReggieJackson',
       'FurkanKorkmaz', 'BenMcLemore', 'CameronReynolds', 'JamesWiseman',
       'BrunoFernando', 'CodyZeller', 'JakeLayman', 'JaxsonHayes',
       'FrankNtilikina', 'KenrichWilliams', 'GarrettTemple',
       'TerrenceRoss', 'AaronGordon', 'TJLeaf', 'JuliusRandle',
       'CarsenEdwards', 'JavonteGreen', 'BobbyPortis', 'CameronOliver',
       'DuncanRobinson', 'ShakeMilton', 'RodionsKurucs',
       'KenyonMartinJr.', 'ChrisBoucher', 'ErsanIlyasova', 'MarvinBagley',
       'JarredVanderbilt', 'ReggieBullock', 'Karl-AnthonyTowns',
       'MarkusHoward', 'AnthonyTolliver', 'LamarStevens', 'JoeHarris',
       'ChumaOkeke', 'MarkieffMorris', 'BrandonIngram', 'JalenHarris',
       'JamesEnnis', 'AndreRoberson', 'GaryTrentJr.', 'DamyeanDotson',
       'T.J.Warren', 'JeramiGrant', 'OttoPorter', 'DariusBazley',
       'MarkelleFultz', 'RodneyHood', 'MiyeOni', 'BrookLopez',
       'SamMerrill', 'DamianJones', 'MylesTurner', 'DakotaMathias',
       'JeromeRobinson', 'EvanFournier', 'ChimezieMetu',
       'HassanWhiteside', 'TorreyCraig', 'TroyBrownJr.', 'DylanWindler',
       'DeniAvdija', 'TackoFall', 'AlenSmailagic', 'PascalSiakam',
       'WesMatthews', 'RJBarrett', 'JevonCarter', 'AmirCoffey',
       'JusufNurkic', 'CameronPayne', 'DanielGafford', "Devonte'Graham",
       "De'AndreHunter", 'MalcolmBrogdon', 'TristanThompson',
       'ZachLaVine', 'EricPaschall', 'JordanNwora', 'JarrettAllen',
       'LonnieWalker', 'FrankKaminsky', 'MauriceHarkless',
       'DaniloGallinari', 'EdmondSumner', 'CharlieBrown',
       'JordanClarkson', 'HamidouDiallo', 'MasonJones', 'KiraLewisJr.',
       'MaxStrus', "Jae'SeanTate", 'TerryRozier', 'SindariusThornwell',
       'ZekeNnaji', 'RuiHachimura', 'KawhiLeonard', 'P.J.Washington',
       'MichaelPorter', 'KembaWalker', 'JohnKonchar', 'MikeScott',
       'NicoloMelli', 'DwightHoward', "D'AngeloRussell", 'DevinBooker',
       'GaryPayton', 'VernonCareyJr.', 'KelanMartin', 'MikeConley',
       'JontayPorter', 'SkylarMays', 'DamianLillard', 'PattyMills',
       'RickyRubio', 'LucaVildoza', 'JalenSmith', 'OnyekaOkongwu',
       'KhemBirch', 'FrankJackson', 'FredVanVleet', 'VlatkoCancar',
       'JaredHarper', 'JonasValanciunas', 'HarrisonBarnes', 'EdDavis',
       'JuwanMorgan', 'AaronHoliday', 'JarrellBrantley', 'IvicaZubac',
       'DeAndreBembry', 'TyusJones', 'BradWanamaker', 'IsaiahHartenstein',
       'ChristianWood', 'AshtonHagans', 'TreyBurke', 'GrantWilliams',
       'NicolasClaxton', 'JarenJackson', 'GaryClark', 'NajiMarshall',
       'JordanPoole', 'StevenAdams', 'CarisLeVert', 'KeldonJohnson',
       'AlecBurks', 'MatisseThybulle', 'RobertFranks', 'JalenBrunson',
       'GiannisAntetokounmpo', 'T.J.McConnell', "E'TwaunMoore",
       'SaddiqBey', 'OGAnunoby', 'BamAdebayo', 'PaytonPritchard',
       'DavisBertans', 'MikalBridges', 'KellyOlynyk', 'BruceBrown',
       'WillMagnay', 'ShaquilleHarrison', 'EricGordon', 'NikolaVucevic',
       'GabeVincent', 'KhyriThomas', 'ShaiGilgeous-Alexander',
       'NerlensNoel', 'KevinKnox', 'GlennRobinsonIII', 'LukeKornet',
       'MitchellRobinson', 'JordanBell', 'ChassonRandle',
       'KhrisMiddleton', 'MikeMuscala', 'ObiToppin', 'KyleLowry',
       'OshaeBrissett', 'DidiLouzadaSilva', 'KlayThompson', 'MalikMonk',
       'MarqueseChriss', 'BrunoCaboclo', 'JordanBone', 'TyrellTerry',
       'DarioSaric', 'IsaacOkoro', 'ChrisSilva', 'ThaddeusYoung',
       'WillBarton', 'MalikBeasley', 'J.J.Redick', 'TonySnell',
       'AdamMokoka', 'SolomonHill', 'MasonPlumlee', 'NormanPowell',
       'SemiOjeleye', 'MikeJames', 'TyJerome', 'WesIwundu',
       'LuguentzDort', 'HenryEllenson', 'CediOsman', 'CollinSexton',
       'TheoPinson', 'DevinCannady', 'JaeCrowder', 'KrisDunn',
       'AleksejPokusevski', 'LukeKennard', 'PaulMillsap', 'DelonWright',
       'JoshOkogie', 'JoelEmbiid', 'AnzejsPasecniks', 'TylerHerro',
       'DanteExum', 'MeyersLeonard', 'AaronNesmith', 'IsaiahThomas',
       'MohamedBamba', 'DonteDiVincenzo', 'KentaviousCaldwell-Pope',
       'DaQuanJeffries', 'GrantRiller', 'JaylenBrown', 'LarryNance',
       'AronBaynes', 'AlizeJohnson', 'YogiFerrell', 'FacundoCampazzo',
       'KarimMane', 'GorguiDieng', 'LukaDoncic', 'RodneyMcGruder',
       'PaulWatson', 'CassiusStanley', 'IshmaelSmith', 'PaulGeorge',
       'MonteMorris', 'RomeoLangford', 'EricBledsoe',
       'MatthewDellavedova', 'DariusGarland', 'MfionduKabengele',
       'JabariParker', 'DewayneDedmon', 'IgnasBrazdeikis',
       'PreciousAchiuwa', 'JaylenHoard', 'DontaHall', 'GaryHarris',
       'EnesKanter', 'CalebHomesley', 'BogdanBogdanovic', 'JeffTeague',
       'DennisSmithJr.', 'CodyMartin', 'ImmanuelQuickley', 'DanielOturu',
       'MilesBridges', 'OmariSpellman', 'TremontWaters', 'JoshJackson',
       'SekouDoumbouya', 'WillieCauley-Stein'], dtype=object)

In [40]:
null_sal

In [41]:
lebron

NameError: name 'lebron' is not defined

In [90]:
lebron.to_csv('lebron.csv')