In [17]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import array

In [18]:
url = 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2021'
df_list = pd.read_html(url)

In [20]:
len(df_list)

8

In [30]:
lebron_season=df_list[7]

In [31]:
lebron_season

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-22,35-358,LAL,NaN,LAC,L (-7),1,28:21,...,3,5,5,0,0,4,2,22,13.1,+2
1,2,2,2020-12-25,35-361,LAL,NaN,DAL,W (+23),1,31:24,...,6,7,10,1,0,4,0,22,18.7,+16
2,3,3,2020-12-27,35-363,LAL,NaN,MIN,W (+36),1,26:12,...,9,9,5,1,0,4,1,18,13.3,+16
3,4,4,2020-12-28,35-364,LAL,NaN,POR,L (-8),1,35:55,...,7,9,6,2,1,3,2,29,25.6,0
4,5,5,2020-12-30,36-000,LAL,@,SAS,W (+14),1,35:13,...,5,5,8,1,1,2,1,26,19.9,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,68,NaN,2021-05-09,36-130,LAL,NaN,PHO,W (+13),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
71,69,NaN,2021-05-11,36-132,LAL,NaN,NYK,W (+2),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
72,70,NaN,2021-05-12,36-133,LAL,NaN,HOU,W (+2),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
73,71,44,2021-05-15,36-136,LAL,@,IND,W (+7),1,28:27,...,4,7,8,0,0,4,2,24,16.7,+7
74,72,45,2021-05-16,36-137,LAL,@,NOP,W (+12),1,27:28,...,0,1,6,3,0,2,0,25,19.5,-2

In [32]:
lebron_season.dtypes

Rk            object
G             object
Date          object
Age           object
Tm            object
Unnamed: 5    object
Opp           object
Unnamed: 7    object
GS            object
MP            object
FG            object
FGA           object
FG%           object
3P            object
3PA           object
3P%           object
FT            object
FTA           object
FT%           object
ORB           object
DRB           object
TRB           object
AST           object
STL           object
BLK           object
TOV           object
PF            object
PTS           object
GmSc          object
+/-           object
dtype: object

Neeed to change these to floats